#parse("/admin/models/begin.vm")
<link href="/assets/admin/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/assets/admin/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
<link href="/assets/admin/css/plugins/magiccheck/magic-check.css" rel="stylesheet" type="text/css">
<!-- 文件上传 -->
<link href="/assets/admin/css/plugins/fileinput/fileinput.min.css" media="all" rel="stylesheet" type="text/css"/>

#parse("/admin/models/header.vm")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>商品 - 添加商品品牌</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>添加商品品牌</small></h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">品牌名称</label>
                            <div class="col-sm-7">
                                <input id="name" name="name" type="text" class="form-control" onblur="check(this.value)"><label id="msg"></label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">分类</label>
                            <div class="col-sm-7">
                                   <select id="parentId" name="parentId" class="parent_select form-control">
                                   </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">品牌ＬＯＧＯ</label>
                            <div class="col-sm-3">
                                <input id="upload-image" class="file" name="file" type="file" multiple>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序</label>
                            <div class="col-sm-7">
                                <input id="sort" name="sort" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">首字母</label>
                            <div class="col-sm-7">
                                <input id="initial" name="initial" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">加入推荐</label>
                            <div class="col-lg-7">
                                <label>
                                    <input id="r3" name="isRec" type="radio" class="magic-radio" value="1"/>
                                    <label for="r3">是</label>
                                </label>
                                <label style="display:inline-block;margin-left: 15px">
                                    <input id="r4" name="isRec" type="radio" class="magic-radio" value="0"/>
                                    <label for="r4">否</label>
                                </label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-4">
                                <div class="btn btn-danger" type="submit" id="submit">确定</div>
                                <input type="reset" class="btn btn-info" value="重置"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
#parse("/admin/models/footer.vm")
<!-- Select2 -->
<script src="/assets/admin/js/plugins/select2/select2.full.min.js"></script>
<script src="/assets/admin/js/plugins/select2/zh-CN.js"></script>

<!-- 文件上传 -->
<script src="/assets/admin/js/plugins/fileinput/fileinput.min.js" type="text/javascript"></script>
<script src="/assets/admin/js/plugins/fileinput/zh.js" type="text/javascript"></script>
<script src="/assets/admin/js/plugins/fileinput/theme.js" type="text/javascript"></script>

<!-- Jquery Validate -->
<script src="/assets/admin/js/plugins/validate/jquery.validate.min.js"></script>
<script>

    $("#品牌管理").addClass("active");
    $('#side-menu').metisMenu();

     //检验输入的品牌是否添加过
     function check(brandName) {
         var flag = false;
         $.ajax({
             url: "/admin/brand/checkBrandName",
             type: "post",
             async: false,
             data:{"brandName": brandName},
             success:function(data) {
                 if(data == "可以添加该品牌名"){
                     $("#msg").html("<font color='green'>可以添加该品牌名!</font>");
                     flag = true;
                 }else{
                     $("#msg").html("<font color='red'>该品牌名已存在,请勿重复添加!</font>");
                     flag = false;
                 }
             },
             error:function(data) {
                 alert("系统出错")
             }
         })
         return flag;
     }
    var img = "";
    $('#upload-image').fileinput({
//      theme: 'mytheme',
        language: 'zh',
        uploadUrl: "http://up.qiniu.com",
        allowedFileExtensions: ['jpg', 'png', 'gif', 'jpeg'],
        showUpload: false, //是否显示上传按钮
        showRemove: false,
        browseClass: "btn btn-primary", //按钮样式
        msgFilesTooMany: "选择上传的文件数量({1}) 超过允许的最大数值{6}！",
        uploadExtraData: {
            token: '$uploadToken'
        },
        maxFileCount: 6,
        deleteUrl: "/utils/donothing",
        initialPreviewAsData: true,
        initialPreview: [],
        initialPreviewConfig: [],
    }).on("fileuploaded", function (event, data, previewId, index) {
        img = data.response.key;
        console.log(img);
    }).on("filebatchuploadcomplete", function (event, data, previewId, index) {
        $.post("/admin/brand/addBrand",
                {
                    name: $("#name").val(),
                    sort: $("#sort").val(),
                    categoryName: $("#parentId").select2('data')[0].name,
                    goodsCategoryId: $("#parentId").select2('data')[0].id,
                    isRecommend: $("input[name='isRec']:checked").val() == 0?false:true,
                    initial:$("#initial").val(),
                    pic: img
                },
                function (data, status) {
                    if (data.code == 200) {
                        swal({
                            title: "成功!",
                            text: "商品分类添加成功!",
                            type: "success",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                        setTimeout(function () {
                            window.location.href = "/admin/brand/addPage";
                        }, 2000);
                    }
                });
    });
    //分类列表下拉框
        $(".parent_select").select2({
        minimumResultsForSearch: -1,
        ajax: {
            url: "/admin/goodsCategory/get/all",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term, // search term
                    page: params.page
                };
            },
            processResults: function (data, params) {
                var results = [];
                $.each(data.data.goodsCategories, function (i, v) {
                    var o = {};
                    o.id = v.goodsCategoryId;
                    o.name = v.name;
                    results.push(o);
                })
                return {
                    results: results
                };
            },
            cache: true
        },
        formatSelection: function (item) {
            return item.name;
        },  // 选择结果中的显示
        formatResult: function (item) {
            return item.name;
        },  // 搜索列表中的显示
        escapeMarkup: function (markup) {
            return markup;
        }, // let our custom formatter work
        minimumInputLength: 0,
        templateResult: function formatRepo(repo) {
            return repo.name
        },
        templateSelection: function formatRepo(repo) {
            return repo.name
        },
        language: "zh-CN",
        initSelection: function (element, callback) {
            var data = { id:0, name: "请选择分类" };
            callback(data);
        },
    });
    $("#submit").on('click', function () {
        if(check($("#name").val()) == true){
            $('#upload-image').fileinput('upload');
        }else{
            sweetAlert("Oops...", "请先解决错误再提交", "error");
        }

    });
   
</script>
#parse("/admin/models/end.vm")