<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.AddressMapper" >

  <!--获取用户地址列表-->
  <select id="getMemberAddressList" resultType="com.wuliangit.shopos.entity.Address">
    select
    <include refid="Base_Column_List" />
    from t_address
    where member_id = #{memberId}
  </select>
  <!--获取默认收货地址-->
  <select id="getDefaultAddress" resultType="com.wuliangit.shopos.entity.Address">
    select
    <include refid="Base_Column_List" />
    from t_address
    where member_id = #{memberId} and is_default = 1
  </select>
  <!--清空默认收货地址-->
  <update id="cleanDefaultAddress">
    update t_address
    set is_default = 0
    where member_id = #{memberId}
  </update>



</mapper>