<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.BalanceLogMapper" >
  <resultMap id="BaseResultMap" type="com.wuliangit.shopos.entity.BalanceLog" >
    <id column="balance_log_id" property="balanceLogId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="av_amount" property="avAmount" jdbcType="DECIMAL" />
    <result column="freeze_amount" property="freezeAmount" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    balance_log_id, member_id, member_name, admin_name, type, av_amount, freeze_amount, 
    create_time, desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_balance_log
    where balance_log_id = #{balanceLogId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_balance_log
    where balance_log_id = #{balanceLogId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliangit.shopos.entity.BalanceLog" >
    insert into t_balance_log (balance_log_id, member_id, member_name, 
      admin_name, type, av_amount, 
      freeze_amount, create_time, desc
      )
    values (#{balanceLogId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{memberName,jdbcType=VARCHAR}, 
      #{adminName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{avAmount,jdbcType=DECIMAL}, 
      #{freezeAmount,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{desc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuliangit.shopos.entity.BalanceLog" >
    insert into t_balance_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="balanceLogId != null" >
        balance_log_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="avAmount != null" >
        av_amount,
      </if>
      <if test="freezeAmount != null" >
        freeze_amount,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="desc != null" >
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="balanceLogId != null" >
        #{balanceLogId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="avAmount != null" >
        #{avAmount,jdbcType=DECIMAL},
      </if>
      <if test="freezeAmount != null" >
        #{freezeAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliangit.shopos.entity.BalanceLog" >
    update t_balance_log
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="avAmount != null" >
        av_amount = #{avAmount,jdbcType=DECIMAL},
      </if>
      <if test="freezeAmount != null" >
        freeze_amount = #{freezeAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where balance_log_id = #{balanceLogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliangit.shopos.entity.BalanceLog" >
    update t_balance_log
    set member_id = #{memberId,jdbcType=INTEGER},
      member_name = #{memberName,jdbcType=VARCHAR},
      admin_name = #{adminName,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      av_amount = #{avAmount,jdbcType=DECIMAL},
      freeze_amount = #{freezeAmount,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      desc = #{desc,jdbcType=VARCHAR}
    where balance_log_id = #{balanceLogId,jdbcType=INTEGER}
  </update>
</mapper>