<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.CartMapper" >

  <!--购物车商品列表-->
  <select id="getCartList" resultType="com.wuliangit.shopos.dto.ApiCartDTO">
    select
    <include refid="Base_Column_List" />
    from t_cart
    where member_id = #{memberId} order by store_id asc ,create_time desc
  </select>

  <!--获取用户加如过购物车的商品-->
  <select id="getCartByMemberIdAndGoodsSkuId" resultType="com.wuliangit.shopos.entity.Cart">
    select
    <include refid="Base_Column_List" />
    from t_cart
    where member_id = #{memberId} and goods_sku_id = #{goodsSkuId}
  </select>

</mapper>