<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.ExpressMapper" >

    <!--获取快递公司信息-->
    <select id="getExpressList" resultType="com.wuliangit.shopos.entity.Express">
        select
        <include refid="Base_Column_List" />
        from t_express
        <where>
            <if test="searchKey != null and searchKey != '' ">
                express_name like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%') or
                express_code like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>

</mapper>