<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.FavoritesGoodsMapper" >

    <!--用户收藏商品列表-->
    <select id="getCollectGoodsList" resultType="com.wuliangit.shopos.dto.ApiCollectGoodsDTO">
        select fg.*, g.price, g.title_img
        from t_favorites_goods fg left join t_goods g on g.goods_id = fg.goods_id
        where fg.member_id = #{memberId}
    </select>

    <!--通过用户id和商品id获取用户商品收藏-->
    <select id="getFavoritesGoodsByUserIdAndGoodsId" resultType="com.wuliangit.shopos.entity.FavoritesGoods">
        select
        <include refid="Base_Column_List" />
        from t_favorites_goods
        where member_id = #{memberId} and goods_id = #{goodsId}
    </select>

    <!--删除收藏商品-->
    <delete id="deleteCollectGoods">
        delete from t_favorites_goods
        where member_id = #{memberId} and goods_id = #{goodsId}
    </delete>


</mapper>