<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.FavoritesStoreMapper" >

    <!--用户收藏店铺列表-->
    <select id="getCollectGoodsList" resultType="com.wuliangit.shopos.dto.api.ApiCollectStoreDTO">
        select s.name, s.logo, s.label, fs.fav_time,s.store_id
        from t_favorites_store fs left join t_store s on s.store_id = fs.store_id
        where fs.member_id = #{memberId}
    </select>

    <!--通过用户id和店铺id获取用户收藏的店铺-->
    <select id="getFavoritesStoreByUserIdAndStoreId" resultType="com.wuliangit.shopos.entity.FavoritesStore">
        select
        <include refid="Base_Column_List" />
        from t_favorites_store
        where member_id = #{memberId} and store_id =  #{storeId}
    </select>

    <!--获取店铺收藏数量-->
    <select id="getStoreCollectCount" resultType="java.lang.Integer">
        select count(*) from t_favorites_store where store_id =  #{storeId}
    </select>

    <!--删除收藏店铺-->
    <delete id="deleteCollectGoods">
        delete from t_favorites_store
        where member_id = #{memberId} and store_id = #{storeId}
    </delete>

</mapper>