<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.GoodsMapper" >

    <!--api商品搜索-->
    <select id="apiGoodsSearch" resultType="com.wuliangit.shopos.dto.ApiGoodsListDTO">
        select goods_id, name, store_name, price, title_img, salenum, carriage, area, upload_from from t_goods
        <where>
            <if test="brandId != null and brandId !=''">
                brand_id = #{brandId}
            </if>
            <if test="goodsCategoryId != null and goodsCategoryId !=''">
                and goods_category3_id = #{goodsCategoryId}
            </if>
            <if test="storeId != null and storeId !=''">
                and store_id = #{storeId}
            </if>
            <if test="type != null and type !=''">
                and type = #{type}
            </if>
            <if test="searchKey != null and searchKey != '' ">
                and ( name like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%'))
            </if>
        </where>
        order by ${order}
    </select>

    <!--管理员商品搜索-->
    <select id="search" resultType="com.wuliangit.shopos.entity.Goods">
        select * from t_goods
        <where>
            <if test="searchKey != null and searchKey != '' ">
                and ( name like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%')
                or ad_word like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%')
                or store_name like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%'))
            </if>
        </where>
        order by
        <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
            ${orderColumn} ${orderType}
        </if>
    </select>

    <!--店铺商品搜索-->
    <select id="StoreSearch" resultType="com.wuliangit.shopos.entity.Goods">
        select * from t_goods
        <where>
            store_id = #{storeId}
            <if test="searchKey != null and searchKey != '' ">
                and ( name like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%')
                or ad_word like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%')
                or store_name like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%'))
            </if>
        </where>
        order by
        <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
            ${orderColumn} ${orderType}
        </if>
    </select>

    <!--不包含商品详情的商品对象-->
    <select id="selectGoodsWithoutBodyByPrimaryKey" resultType="com.wuliangit.shopos.model.GoodsWithoutBody">
        select
        <include refid="Base_Column_List" />
        from t_goods
        where goods_id = #{goodsId,jdbcType=INTEGER}
    </select>

    <!--获取商品的简要信息-->
    <select id="getSimplGoodsInfo" resultType="com.wuliangit.shopos.dto.StoreGoodsDetailDTO">
        SELECT goods_id,name,unit,ad_word,price
        FROM t_goods
        WHERE goods_id = #{goodsId}
    </select>

    <!--通过店铺id获取店铺商品数量-->
    <select id="getGoodsCountByStoreId" resultType="java.lang.Integer">
        select count(*) from t_goods where store_id = #{storeId}
    </select>

    <!--接口获取商品详情-->
    <select id="apiGetGoodsDTOById" resultType="com.wuliangit.shopos.dto.ApiGoodsDTO">
        select * from t_goods where goods_id = #{goodsId}
    </select>

    <!--获取移动端可以编辑的商品-->
    <select id="sellerGetGoodsCanEdit" resultType="com.wuliangit.shopos.dto.ApiGoodsListDTO">
        select * from t_goods where store_id = #{storeId} and upload_from = 'PHONE'
    </select>

</mapper>