<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.GoodsMapper" >

    <!--api商品搜索-->
    <select id="apiGoodsSearch" resultType="com.wuliangit.shopos.dto.ApiGoodsListDTO">
        select goods_id, name, store_name, price, title_img, salenum, carriage, area from t_goods
        <where>
            <if test="brandId != null and brandId !=''">
                brand_id = #{brandId}
            </if>
            <if test="goodsCategoryId != null and goodsCategoryId !=''">
                and goods_category_id = #{goodsCategoryId}
            </if>
            <if test="storeId != null and storeId !=''">
                and store_id = #{storeId}
            </if>
            <if test="storeGoodsCategoryId != null and storeGoodsCategoryId !=''">
                and store_goods_category_id = #{storeGoodsCategoryId}
            </if>
            <if test="type != null and type !=''">
                and type = #{type}
            </if>
            <if test="searchKey != null and searchKey != '' ">
                and ( name like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%')
                or ad_word like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%')
                or store_name like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%'))
            </if>
        </where>
    </select>

    <!--后台商品搜索-->
    <select id="search" resultType="com.wuliangit.shopos.entity.Goods">
        select * from t_goods
        <where>
            <if test="searchKey != null and searchKey != '' ">
                and ( name like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%')
                or ad_word like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%')
                or store_name like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%'))
            </if>
        </where>
        order by
        <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
            ${orderColumn} ${orderType}
        </if>
    </select>

    <!--不包行商品详情的商品对象-->
    <select id="selectGoodsWithoutBodyByPrimaryKey" resultType="com.wuliangit.shopos.model.GoodsWithoutBody">
        select
        <include refid="Base_Column_List" />
        from t_goods
        where goods_id = #{goodsId,jdbcType=INTEGER}
    </select>
</mapper>