<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.GoodsCategoryMapper" >

    <!--获取所有商品分类-->
    <select id="selectAll" resultType="com.wuliangit.shopos.entity.GoodsCategory">
        select * from t_goods_category
    </select>

    <!--后台列表搜索-->
    <select id="AdminSearch" resultType="com.wuliangit.shopos.entity.GoodsCategory">
        select * from t_goods_category
        <where>
            parent_id = #{parentId}
            and is_show = 1
            <if test="searchKey != null and searchKey != '' ">
                and ( name like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%')
                or keywords like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%')
                or description like CONCAT('%', #{searchKey, jdbcType=VARCHAR}, '%'))
            </if>
        </where>
        order by
        sort asc
        <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
            , ${orderColumn} ${orderType}
        </if>
    </select>

    <!--通过父类获取商品分类-->
    <select id="getGoodsCategoryListByParentId" resultType="com.wuliangit.shopos.entity.GoodsCategory">
        select * from t_goods_category where parent_id = #{parentId}
    </select>
</mapper>