<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.PermissionMapper" >

    <!--获取管理员菜单-->
    <select id="getAdminMenus" resultType="com.wuliangit.shopos.dto.MenuDTO">
        SELECT p.* FROM t_permission p
        LEFT JOIN t_role_permission rp ON p.permission_id = rp.permission_id
        LEFT JOIN t_role r ON r.role_id = rp.role_id
        LEFT JOIN t_user_role ur on ur.user_id = #{userId}
        where ur.user_type = 'ADMIN' and ( p.type = 'PMENU' or  p.type = 'MENU')
    </select>
</mapper>