<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.RefundMapper" >

    <!--获取退换货申请列表的数据-->
    <select id="getApplyRefundList" resultType="com.wuliangit.shopos.dto.StoreRefundListDTO">
        SELECT *
        FROM t_refund
        <where>
            store_id = #{storeId} and
            (refund_state = 'CHECKING' or refund_state = 'NOT_CONSENT')
            <if test="searchKey != null and searchKey != '' ">
                and ( member_name like '%${searchKey}%' or goods_name like '%${searchKey}%')
            </if>
        </where>
        order by
        <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
            ${orderColumn} ${orderType},
        </if>
        create_time desc, refund_state asc
    </select>

    <!--获取成功申请退换货的数据-->
    <select id="getSuccessRefundList" resultType="com.wuliangit.shopos.dto.StoreRefundListDTO">
        SELECT *
        FROM t_refund
        <where>
            store_id = #{storeId} and
            (refund_state = 'DELIVE' or refund_state = 'CONSENT' or refund_state = 'END')
            <if test="searchKey != null and searchKey != '' ">
                and ( member_name like '%${searchKey}%' or goods_name like '%${searchKey}%')
            </if>
            <if test="refundType != null and refundType != ''">
                and ( refund_type = #{refundType})
            </if>
            <if test="refundState != null and refundState != ''">
                and ( refund_state = #{refundState})
            </if>
        </where>
        order by
        <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
            ${orderColumn} ${orderType},
        </if>
        create_time desc
    </select>

    <!--退款退货订单-->
    <select id="apiGetRefunds" resultType="com.wuliangit.shopos.dto.ApiRefundDTO">
        select
        <include refid="Base_Column_List" />
        from t_refund
        where member_id = #{memberId}
    </select>

    <!--获取退款完成列表-->
    <select id="getRefundDoneList" resultType="com.wuliangit.shopos.dto.StoreRefundListDTO">
        SELECT *
        FROM t_refund
        <where>
            store_id = #{storeId} and refund_state = 'END'
            <if test="searchKey != null and searchKey != '' ">
                and ( member_name like '%${searchKey}%' or goods_name like '%${searchKey}%')
            </if>
        </where>
        order by
        <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
            ${orderColumn} ${orderType},
        </if>
        create_time desc
    </select>

    <!--获取退换货列表数据-->
    <select id="getAdminRefundList" resultType="com.wuliangit.shopos.dto.StoreRefundListDTO">
        SELECT r.refund_id,r.order_id,r.order_out_trade_no,r.store_id,r.member_id,r.member_username,r.goods_id,
        r.goods_name,r.goods_num,r.refund_amount,r.goods_image,r.order_goods_type,r.refund_type,r.refund_state,r.is_lock,
        r.goods_state,r.create_time,r.seller_handle_time,r.admin_time,r.pics_info,r.buyer_message,r.seller_message,
        r.express_name,r.express_no,s.name
        FROM t_refund r,t_store s
        <where>
            r.store_id = s.store_id
            <if test="searchKey != null and searchKey != '' ">
                ( r.member_name like '%${searchKey}%' or r.goods_name like '%${searchKey}%')
            </if>
        </where>
        order by
        <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
            r.${orderColumn} ${orderType},
        </if>
        r.create_time desc, r.refund_state asc
    </select>
</mapper>