<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.StoreMessageMapper" >

    <!--批量插入邮件数据-->
    <insert id="insertMessage">
      INSERT INTO t_store_message(send_user_id,send_user_name,create_time,receive_user_id,receive_user_name,read_flag,del_flag,title,content)
      VALUES
        <foreach collection="list" item="storeMessages" index="index" separator=",">
            (#{storeMessages.sendUserId},#{storeMessages.sendUserName},#{storeMessages.createTime},#{storeMessages.receiveUserId},#{storeMessages.receiveUserName},
            #{storeMessages.readFlag},#{storeMessages.delFlag},#{storeMessages.title},#{storeMessages.content})
        </foreach>
    </insert>
</mapper>