<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.StoreGoodsClassMapper" >
  <resultMap id="BaseResultMap" type="com.wuliangit.shopos.entity.StoreGoodsClass" >
    <id column="store_goods_class_id" property="storeGoodsClassId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    store_goods_class_id, name, parent_id, state, sort
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_store_goods_class
    where store_goods_class_id = #{storeGoodsClassId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_store_goods_class
    where store_goods_class_id = #{storeGoodsClassId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliangit.shopos.entity.StoreGoodsClass" >
    insert into t_store_goods_class (store_goods_class_id, name, parent_id, 
      state, sort)
    values (#{storeGoodsClassId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{state,jdbcType=BIT}, #{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliangit.shopos.entity.StoreGoodsClass" >
    insert into t_store_goods_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeGoodsClassId != null" >
        store_goods_class_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="sort != null" >
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeGoodsClassId != null" >
        #{storeGoodsClassId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliangit.shopos.entity.StoreGoodsClass" >
    update t_store_goods_class
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where store_goods_class_id = #{storeGoodsClassId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliangit.shopos.entity.StoreGoodsClass" >
    update t_store_goods_class
    set name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      state = #{state,jdbcType=BIT},
      sort = #{sort,jdbcType=INTEGER}
    where store_goods_class_id = #{storeGoodsClassId,jdbcType=INTEGER}
  </update>
</mapper>