<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.StoreGoodsAdMapper" >

    <!--获取商品广告-->
    <select id="getStoreGoodsAdByStoreId" resultType="java.lang.String">
      SELECT img
      FROM t_store_goods_ad
      WHERE goods_id = #{goodsId} and store_id = #{storeId}
    </select>
    <!--更新商品广告-->
    <update id="updateGoodsAd" parameterType="com.wuliangit.shopos.entity.StoreGoodsAd">
      UPDATE t_store_goods_ad
      SET img = #{img}
      WHERE goods_id = #{goodsId} and store_id = #{storeId}
    </update>
    <!--获取已有广告的商品信息-->
    <select id="getStoreGoodsWithAd" resultType="com.wuliangit.shopos.dto.StoreGoodsDetailDTO">
      SELECT g.goods_id,g.name,a.img
      FROM t_goods g, t_store_goods_ad a
      <where>
        g.store_id = #{storeId} and g.goods_id = a.goods_id
        <if test="searchKey != null and searchKey != '' ">
          and ( g.name like '%${searchKey}%')
        </if>
      </where>
      order by
      <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
        ${orderColumn} ${orderType},
      </if>
      g.create_time desc
    </select>
    <!--获取没有广告的商品信息-->
    <select id="getStoreGoodsWithoutAd" resultType="com.wuliangit.shopos.dto.StoreGoodsDetailDTO">
      SELECT goods_id,name
      FROM t_goods
      WHERE store_id = #{storeId} and goods_id not in (SELECT goods_id from t_store_goods_ad)
    </select>

    <!--api接口获取店铺商品广告-->
    <select id="apiGetStoreGoodsAd" resultType="com.wuliangit.shopos.entity.StoreGoodsAd">
      SELECT *
      FROM t_store_goods_ad
      WHERE store_id = #{storeId}
    </select>

</mapper>