<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.StoreCashMapper" >

    <!--提现记录-->
    <select id="getCashHistoryList" resultType="com.wuliangit.shopos.entity.StoreCash">
        select * from t_store_cash where store_id = #{storeId}
        order by
        <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
            ${orderColumn} ${orderType},
        </if>
        create_time desc
    </select>

    <!--获取订单佣金管理-->
    <select id="getCashListDate" resultType="com.wuliangit.shopos.dto.StoreCashListDTO">
        select c.store_id,c.amount,c.create_time,c.out_biz_no,s.name
        from t_store_cash c,t_store s
        <where>
            c.store_id = s.store_id
            <if test="searchKey != null and searchKey != '' ">
                and ( s.name like '%${searchKey}%')
            </if>
        </where>
        order by
        <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
            ${orderColumn} ${orderType},
        </if>
        c.store_id desc
    </select>

</mapper>