<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.TuikeMapper" >

    <!--获取推客审核列表-->
    <select id="getCheckList" resultType="com.wuliangit.shopos.dto.TuikeCheckListDTO">
        select m.member_id,m.nickname,m.sex,m.email,m.create_time,m.points
        from t_member m,t_tuike k
        <where>
            k.is_check = 0 AND k.member_id = m.member_id AND k.state = "INIT"
            <if test="searchKey != null and searchKey != '' ">
                and ( q.title like '%${searchKey}%')
            </if>
        </where>
        order by
        <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
            ${orderColumn} ${orderType},
        </if>
        k.create_time desc
    </select>

    <!--获取推客管理列表-->
    <select id="getTuikeList" resultType="com.wuliangit.shopos.dto.TuikePageListDTO">
        select k.tuike_id,m.nickname,k.create_time,k.available_balance,k.freeze_balance,k.code,k.share_count,k.buy_count
        from t_member m,t_tuike k
        <where>
            k.is_check = 1 AND k.member_id = m.member_id AND k.state = "CHECKED"
            <if test="searchKey != null and searchKey != '' ">
                and ( q.title like '%${searchKey}%')
            </if>
        </where>
        order by
        <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
            ${orderColumn} ${orderType},
        </if>
        k.create_time desc
    </select>


    <select id="getTuikeByMemberId" resultType="com.wuliangit.shopos.entity.Tuike">
        select * from t_tuike where member_id = #{memberId}
    </select>

    <!--禁用推客-->
    <update id="forbiddenTuike">
        UPDATE t_tuike
        SET state = #{state}
        WHERE tuike_id = #{tuikeId}
    </update>

    <!--是否审核通过操作-->
    <update id="checkOperation">
        UPDATE t_tuike
        SET state = #{state},is_check = 1
        WHERE member_id = #{memberId}
    </update>

    <!--更新推客码-->
    <update id="updateTuikeCode">
        UPDATE t_tuike
        SET code = #{code}
        where member_id = #{memberId}
    </update>

    <!--获取推客信息-->
    <select id="getTuikeInfo" resultType="com.wuliangit.shopos.entity.Tuike">
        SELECT *
        FROM t_tuike
        WHERE member_id = #{memberId} and state = "CHECKED"
    </select>

    <!--获取tuikecode-->
    <select id="getTuikeCode" resultType="java.lang.String">
        SELECT code
        FROM t_tuike
        WHERE member_id = #{memberId}
    </select>

</mapper>