<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.TuikeShareMapper" >

    <!--获取成功分享的数据-->
    <select id="getShareInfo" resultType="com.wuliangit.shopos.dto.api.ApiTuikeShareDTO">
        select *
        from t_tuike_share
        <where>
            tuike_id = #{tuikeId}
            <if test="searchKey != null and searchKey != '' ">
                and ( goods_id like '%${searchKey}%')
            </if>
        </where>
        order by
        <choose>
            <when test="order != null and order !=''">
                ${order} desc
            </when>
        </choose>
    </select>
</mapper>