#parse("/store/models/begin.vm")


#parse("/store/models/header.vm")

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>缴纳保证金</h5>
                    <div class="ibox-tools">
                        <font color="red">说明：</font>只有缴纳保证金才允许发布商品。</p>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="form" method="post" action="/store/guarantee/pay" target="_blank">
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">缴纳金额</label>
                            <div class="col-sm-7">
                                <input id="name" name="name" type="text" class="form-control" disabled value="500"/>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 60px">
                            <div class="col-sm-4 col-sm-offset-3">
                                #if($guaranteeStatus == 'PAYED')
                                    <input class="btn btn-primary" disabled="disabled" type="submit" id="submit" value="保证金已缴纳">
                                    #else
                                        <input class="btn btn-primary" type="submit" id="submit" value="缴纳保证金">
                                #end

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

#parse("/store/models/footer.vm")

<script>

    $("#缴纳保证金").addClass("active");
    $("#设置").addClass("active");
    $("#side-menu").metisMenu();

</script>

#parse("/store/models/end.vm")