<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.AdminLogMapper" >
  <resultMap id="BaseResultMap" type="com.wuliangit.shopos.entity.AdminLog" >
    <id column="admin_log_id" property="adminLogId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="admin_username" property="adminUsername" jdbcType="CHAR" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    admin_log_id, content, create_time, admin_username, admin_id, ip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_admin_log
    where admin_log_id = #{adminLogId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_admin_log
    where admin_log_id = #{adminLogId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliangit.shopos.entity.AdminLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="adminLogId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_admin_log (content, create_time, admin_username, 
      admin_id, ip)
    values (#{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{adminUsername,jdbcType=CHAR}, 
      #{adminId,jdbcType=INTEGER}, #{ip,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliangit.shopos.entity.AdminLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="adminLogId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_admin_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="adminUsername != null" >
        admin_username,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="ip != null" >
        ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminUsername != null" >
        #{adminUsername,jdbcType=CHAR},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliangit.shopos.entity.AdminLog" >
    update t_admin_log
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminUsername != null" >
        admin_username = #{adminUsername,jdbcType=CHAR},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=CHAR},
      </if>
    </set>
    where admin_log_id = #{adminLogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliangit.shopos.entity.AdminLog" >
    update t_admin_log
    set content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      admin_username = #{adminUsername,jdbcType=CHAR},
      admin_id = #{adminId,jdbcType=INTEGER},
      ip = #{ip,jdbcType=CHAR}
    where admin_log_id = #{adminLogId,jdbcType=INTEGER}
  </update>
</mapper>