<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.FavoritesGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.wuliangit.shopos.entity.FavoritesGoods" >
    <id column="favorites_goods_id" property="favoritesGoodsId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="fav_time" property="favTime" jdbcType="TIMESTAMP" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="log_price" property="logPrice" jdbcType="DECIMAL" />
    <result column="log_msg" property="logMsg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    favorites_goods_id, member_id, member_name, fav_time, goods_id, goods_name, log_price, 
    log_msg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_favorites_goods
    where favorites_goods_id = #{favoritesGoodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_favorites_goods
    where favorites_goods_id = #{favoritesGoodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliangit.shopos.entity.FavoritesGoods" >
    <selectKey resultType="java.lang.Integer" keyProperty="favoritesGoodsId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_favorites_goods (member_id, member_name, fav_time, 
      goods_id, goods_name, log_price, 
      log_msg)
    values (#{memberId,jdbcType=INTEGER}, #{memberName,jdbcType=VARCHAR}, #{favTime,jdbcType=TIMESTAMP}, 
      #{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{logPrice,jdbcType=DECIMAL}, 
      #{logMsg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliangit.shopos.entity.FavoritesGoods" >
    <selectKey resultType="java.lang.Integer" keyProperty="favoritesGoodsId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_favorites_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="favTime != null" >
        fav_time,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="logPrice != null" >
        log_price,
      </if>
      <if test="logMsg != null" >
        log_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="favTime != null" >
        #{favTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="logPrice != null" >
        #{logPrice,jdbcType=DECIMAL},
      </if>
      <if test="logMsg != null" >
        #{logMsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliangit.shopos.entity.FavoritesGoods" >
    update t_favorites_goods
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="favTime != null" >
        fav_time = #{favTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="logPrice != null" >
        log_price = #{logPrice,jdbcType=DECIMAL},
      </if>
      <if test="logMsg != null" >
        log_msg = #{logMsg,jdbcType=VARCHAR},
      </if>
    </set>
    where favorites_goods_id = #{favoritesGoodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliangit.shopos.entity.FavoritesGoods" >
    update t_favorites_goods
    set member_id = #{memberId,jdbcType=INTEGER},
      member_name = #{memberName,jdbcType=VARCHAR},
      fav_time = #{favTime,jdbcType=TIMESTAMP},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      log_price = #{logPrice,jdbcType=DECIMAL},
      log_msg = #{logMsg,jdbcType=VARCHAR}
    where favorites_goods_id = #{favoritesGoodsId,jdbcType=INTEGER}
  </update>
</mapper>