<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.FavoritesStoreMapper" >
  <resultMap id="BaseResultMap" type="com.wuliangit.shopos.entity.FavoritesStore" >
    <constructor >
      <idArg column="favorites_store_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="member_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="member_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fav_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="store_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="store_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="log_msg" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    favorites_store_id, member_id, member_name, fav_time, store_id, store_name, log_msg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_favorites_store
    where favorites_store_id = #{favoritesStoreId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_favorites_store
    where favorites_store_id = #{favoritesStoreId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliangit.shopos.entity.FavoritesStore" >
    <selectKey resultType="java.lang.Integer" keyProperty="favoritesStoreId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_favorites_store (member_id, member_name, fav_time, 
      store_id, store_name, log_msg
      )
    values (#{memberId,jdbcType=INTEGER}, #{memberName,jdbcType=VARCHAR}, #{favTime,jdbcType=TIMESTAMP}, 
      #{storeId,jdbcType=INTEGER}, #{storeName,jdbcType=VARCHAR}, #{logMsg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuliangit.shopos.entity.FavoritesStore" >
    <selectKey resultType="java.lang.Integer" keyProperty="favoritesStoreId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_favorites_store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="favTime != null" >
        fav_time,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="logMsg != null" >
        log_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="favTime != null" >
        #{favTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="logMsg != null" >
        #{logMsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliangit.shopos.entity.FavoritesStore" >
    update t_favorites_store
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="favTime != null" >
        fav_time = #{favTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="logMsg != null" >
        log_msg = #{logMsg,jdbcType=VARCHAR},
      </if>
    </set>
    where favorites_store_id = #{favoritesStoreId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliangit.shopos.entity.FavoritesStore" >
    update t_favorites_store
    set member_id = #{memberId,jdbcType=INTEGER},
      member_name = #{memberName,jdbcType=VARCHAR},
      fav_time = #{favTime,jdbcType=TIMESTAMP},
      store_id = #{storeId,jdbcType=INTEGER},
      store_name = #{storeName,jdbcType=VARCHAR},
      log_msg = #{logMsg,jdbcType=VARCHAR}
    where favorites_store_id = #{favoritesStoreId,jdbcType=INTEGER}
  </update>
</mapper>