<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.OrderGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.wuliangit.shopos.entity.OrderGoods" >
    <id column="order_goods_id" property="orderGoodsId" jdbcType="INTEGER" />
    <result column="order_common_id" property="orderCommonId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_color_id" property="goodsColorId" jdbcType="INTEGER" />
    <result column="color_name" property="colorName" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
    <result column="goods_image" property="goodsImage" jdbcType="VARCHAR" />
    <result column="color_image" property="colorImage" jdbcType="VARCHAR" />
    <result column="goods_pay_price" property="goodsPayPrice" jdbcType="DECIMAL" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="commission_percent" property="commissionPercent" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_goods_id, order_common_id, order_id, goods_id, goods_color_id, color_name, 
    goods_name, goods_num, goods_image, color_image, goods_pay_price, store_id, member_id, 
    goods_type, commission_percent
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order_goods
    where order_goods_id = #{orderGoodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order_goods
    where order_goods_id = #{orderGoodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliangit.shopos.entity.OrderGoods" >
    insert into t_order_goods (order_goods_id, order_common_id, order_id, 
      goods_id, goods_color_id, color_name, 
      goods_name, goods_num, goods_image, 
      color_image, goods_pay_price, store_id, 
      member_id, goods_type, commission_percent
      )
    values (#{orderGoodsId,jdbcType=INTEGER}, #{orderCommonId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{goodsColorId,jdbcType=INTEGER}, #{colorName,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsNum,jdbcType=INTEGER}, #{goodsImage,jdbcType=VARCHAR}, 
      #{colorImage,jdbcType=VARCHAR}, #{goodsPayPrice,jdbcType=DECIMAL}, #{storeId,jdbcType=INTEGER}, 
      #{memberId,jdbcType=INTEGER}, #{goodsType,jdbcType=VARCHAR}, #{commissionPercent,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuliangit.shopos.entity.OrderGoods" >
    insert into t_order_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderGoodsId != null" >
        order_goods_id,
      </if>
      <if test="orderCommonId != null" >
        order_common_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsColorId != null" >
        goods_color_id,
      </if>
      <if test="colorName != null" >
        color_name,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsNum != null" >
        goods_num,
      </if>
      <if test="goodsImage != null" >
        goods_image,
      </if>
      <if test="colorImage != null" >
        color_image,
      </if>
      <if test="goodsPayPrice != null" >
        goods_pay_price,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="commissionPercent != null" >
        commission_percent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderGoodsId != null" >
        #{orderGoodsId,jdbcType=INTEGER},
      </if>
      <if test="orderCommonId != null" >
        #{orderCommonId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsColorId != null" >
        #{goodsColorId,jdbcType=INTEGER},
      </if>
      <if test="colorName != null" >
        #{colorName,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null" >
        #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="goodsImage != null" >
        #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="colorImage != null" >
        #{colorImage,jdbcType=VARCHAR},
      </if>
      <if test="goodsPayPrice != null" >
        #{goodsPayPrice,jdbcType=DECIMAL},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="commissionPercent != null" >
        #{commissionPercent,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliangit.shopos.entity.OrderGoods" >
    update t_order_goods
    <set >
      <if test="orderCommonId != null" >
        order_common_id = #{orderCommonId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsColorId != null" >
        goods_color_id = #{goodsColorId,jdbcType=INTEGER},
      </if>
      <if test="colorName != null" >
        color_name = #{colorName,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null" >
        goods_num = #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="goodsImage != null" >
        goods_image = #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="colorImage != null" >
        color_image = #{colorImage,jdbcType=VARCHAR},
      </if>
      <if test="goodsPayPrice != null" >
        goods_pay_price = #{goodsPayPrice,jdbcType=DECIMAL},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="commissionPercent != null" >
        commission_percent = #{commissionPercent,jdbcType=DECIMAL},
      </if>
    </set>
    where order_goods_id = #{orderGoodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliangit.shopos.entity.OrderGoods" >
    update t_order_goods
    set order_common_id = #{orderCommonId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_color_id = #{goodsColorId,jdbcType=INTEGER},
      color_name = #{colorName,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_num = #{goodsNum,jdbcType=INTEGER},
      goods_image = #{goodsImage,jdbcType=VARCHAR},
      color_image = #{colorImage,jdbcType=VARCHAR},
      goods_pay_price = #{goodsPayPrice,jdbcType=DECIMAL},
      store_id = #{storeId,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      commission_percent = #{commissionPercent,jdbcType=DECIMAL}
    where order_goods_id = #{orderGoodsId,jdbcType=INTEGER}
  </update>
</mapper>