<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.BalanceCashMapper" >
  <resultMap id="BaseResultMap" type="com.wuliangit.shopos.entity.BalanceCash" >
    <constructor >
      <idArg column="balance_cash_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="balance_cash_sn" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="member_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="member_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="bank_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bank_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bank_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="payment_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="is_payment" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="payment_admin" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    balance_cash_id, balance_cash_sn, member_id, member_name, amount, bank_name, bank_no, 
    bank_user, create_time, payment_time, is_payment, payment_admin
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_balance_cash
    where balance_cash_id = #{balanceCashId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_balance_cash
    where balance_cash_id = #{balanceCashId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliangit.shopos.entity.BalanceCash" >
    <selectKey resultType="java.lang.Integer" keyProperty="balanceCashId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_balance_cash (balance_cash_sn, member_id, member_name, 
      amount, bank_name, bank_no, 
      bank_user, create_time, payment_time, 
      is_payment, payment_admin)
    values (#{balanceCashSn,jdbcType=VARCHAR}, #{memberId,jdbcType=INTEGER}, #{memberName,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{bankName,jdbcType=VARCHAR}, #{bankNo,jdbcType=VARCHAR}, 
      #{bankUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{paymentTime,jdbcType=TIMESTAMP}, 
      #{isPayment,jdbcType=BIT}, #{paymentAdmin,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliangit.shopos.entity.BalanceCash" >
    <selectKey resultType="java.lang.Integer" keyProperty="balanceCashId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_balance_cash
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="balanceCashSn != null" >
        balance_cash_sn,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankNo != null" >
        bank_no,
      </if>
      <if test="bankUser != null" >
        bank_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="isPayment != null" >
        is_payment,
      </if>
      <if test="paymentAdmin != null" >
        payment_admin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="balanceCashSn != null" >
        #{balanceCashSn,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankNo != null" >
        #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="bankUser != null" >
        #{bankUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPayment != null" >
        #{isPayment,jdbcType=BIT},
      </if>
      <if test="paymentAdmin != null" >
        #{paymentAdmin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliangit.shopos.entity.BalanceCash" >
    update t_balance_cash
    <set >
      <if test="balanceCashSn != null" >
        balance_cash_sn = #{balanceCashSn,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankNo != null" >
        bank_no = #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="bankUser != null" >
        bank_user = #{bankUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPayment != null" >
        is_payment = #{isPayment,jdbcType=BIT},
      </if>
      <if test="paymentAdmin != null" >
        payment_admin = #{paymentAdmin,jdbcType=VARCHAR},
      </if>
    </set>
    where balance_cash_id = #{balanceCashId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliangit.shopos.entity.BalanceCash" >
    update t_balance_cash
    set balance_cash_sn = #{balanceCashSn,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=INTEGER},
      member_name = #{memberName,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_no = #{bankNo,jdbcType=VARCHAR},
      bank_user = #{bankUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      is_payment = #{isPayment,jdbcType=BIT},
      payment_admin = #{paymentAdmin,jdbcType=VARCHAR}
    where balance_cash_id = #{balanceCashId,jdbcType=INTEGER}
  </update>
</mapper>