<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.EvaluateGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.wuliangit.shopos.entity.EvaluateGoods" >
    <id column="evaluate_goods_id" property="evaluateGoodsId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_sn" property="orderSn" jdbcType="VARCHAR" />
    <result column="order_goods_id" property="orderGoodsId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="goods_images" property="goodsImages" jdbcType="VARCHAR" />
    <result column="scores" property="scores" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="is_anonymous" property="isAnonymous" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="from_member_id" property="fromMemberId" jdbcType="INTEGER" />
    <result column="from_member_name" property="fromMemberName" jdbcType="VARCHAR" />
    <result column="is_show" property="isShow" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="explain" property="explain" jdbcType="VARCHAR" />
    <result column="images" property="images" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    evaluate_goods_id, order_id, order_sn, order_goods_id, goods_id, goods_name, goods_price, 
    goods_images, scores, content, is_anonymous, create_time, store_id, store_name, from_member_id, 
    from_member_name, is_show, remark, explain, images
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_evaluate_goods
    where evaluate_goods_id = #{evaluateGoodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_evaluate_goods
    where evaluate_goods_id = #{evaluateGoodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliangit.shopos.entity.EvaluateGoods" >
    <selectKey resultType="java.lang.Integer" keyProperty="evaluateGoodsId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_evaluate_goods (order_id, order_sn, order_goods_id, 
      goods_id, goods_name, goods_price, 
      goods_images, scores, content, 
      is_anonymous, create_time, store_id, 
      store_name, from_member_id, from_member_name, 
      is_show, remark, explain, 
      images)
    values (#{orderId,jdbcType=INTEGER}, #{orderSn,jdbcType=VARCHAR}, #{orderGoodsId,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=DECIMAL}, 
      #{goodsImages,jdbcType=VARCHAR}, #{scores,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{isAnonymous,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{storeId,jdbcType=INTEGER}, 
      #{storeName,jdbcType=VARCHAR}, #{fromMemberId,jdbcType=INTEGER}, #{fromMemberName,jdbcType=VARCHAR}, 
      #{isShow,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}, #{explain,jdbcType=VARCHAR}, 
      #{images,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliangit.shopos.entity.EvaluateGoods" >
    <selectKey resultType="java.lang.Integer" keyProperty="evaluateGoodsId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_evaluate_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderSn != null" >
        order_sn,
      </if>
      <if test="orderGoodsId != null" >
        order_goods_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsPrice != null" >
        goods_price,
      </if>
      <if test="goodsImages != null" >
        goods_images,
      </if>
      <if test="scores != null" >
        scores,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="isAnonymous != null" >
        is_anonymous,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="fromMemberId != null" >
        from_member_id,
      </if>
      <if test="fromMemberName != null" >
        from_member_name,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="explain != null" >
        explain,
      </if>
      <if test="images != null" >
        images,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderSn != null" >
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="orderGoodsId != null" >
        #{orderGoodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsImages != null" >
        #{goodsImages,jdbcType=VARCHAR},
      </if>
      <if test="scores != null" >
        #{scores,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isAnonymous != null" >
        #{isAnonymous,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="fromMemberId != null" >
        #{fromMemberId,jdbcType=INTEGER},
      </if>
      <if test="fromMemberName != null" >
        #{fromMemberName,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="explain != null" >
        #{explain,jdbcType=VARCHAR},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliangit.shopos.entity.EvaluateGoods" >
    update t_evaluate_goods
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderSn != null" >
        order_sn = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="orderGoodsId != null" >
        order_goods_id = #{orderGoodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsImages != null" >
        goods_images = #{goodsImages,jdbcType=VARCHAR},
      </if>
      <if test="scores != null" >
        scores = #{scores,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="isAnonymous != null" >
        is_anonymous = #{isAnonymous,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="fromMemberId != null" >
        from_member_id = #{fromMemberId,jdbcType=INTEGER},
      </if>
      <if test="fromMemberName != null" >
        from_member_name = #{fromMemberName,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="explain != null" >
        explain = #{explain,jdbcType=VARCHAR},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
    </set>
    where evaluate_goods_id = #{evaluateGoodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliangit.shopos.entity.EvaluateGoods" >
    update t_evaluate_goods
    set order_id = #{orderId,jdbcType=INTEGER},
      order_sn = #{orderSn,jdbcType=VARCHAR},
      order_goods_id = #{orderGoodsId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      goods_images = #{goodsImages,jdbcType=VARCHAR},
      scores = #{scores,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      is_anonymous = #{isAnonymous,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      store_id = #{storeId,jdbcType=INTEGER},
      store_name = #{storeName,jdbcType=VARCHAR},
      from_member_id = #{fromMemberId,jdbcType=INTEGER},
      from_member_name = #{fromMemberName,jdbcType=VARCHAR},
      is_show = #{isShow,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      explain = #{explain,jdbcType=VARCHAR},
      images = #{images,jdbcType=VARCHAR}
    where evaluate_goods_id = #{evaluateGoodsId,jdbcType=INTEGER}
  </update>
</mapper>