<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.EvaluateGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.wuliangit.shopos.entity.EvaluateGoods" >
    <id column="evaluate_goods_id" property="evaluateGoodsId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="member_username" property="memberUsername" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="sku_value" property="skuValue" jdbcType="VARCHAR" />
    <result column="star" property="star" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="is_anonymous" property="isAnonymous" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_show" property="isShow" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="explain" property="explain" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    evaluate_goods_id, member_id, member_username, store_id, order_id, goods_id, images, 
    goods_name, sku_value, star, content, is_anonymous, create_time, is_show, remark, 
    explain
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_evaluate_goods
    where evaluate_goods_id = #{evaluateGoodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_evaluate_goods
    where evaluate_goods_id = #{evaluateGoodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliangit.shopos.entity.EvaluateGoods" >
    <selectKey resultType="java.lang.Integer" keyProperty="evaluateGoodsId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_evaluate_goods (member_id, member_username, store_id, 
      order_id, goods_id, images, 
      goods_name, sku_value, star, 
      content, is_anonymous, create_time, 
      is_show, remark, explain
      )
    values (#{memberId,jdbcType=INTEGER}, #{memberUsername,jdbcType=VARCHAR}, #{storeId,jdbcType=INTEGER}, 
      #{orderId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{images,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{skuValue,jdbcType=VARCHAR}, #{star,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{isAnonymous,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isShow,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}, #{explain,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuliangit.shopos.entity.EvaluateGoods" >
    <selectKey resultType="java.lang.Integer" keyProperty="evaluateGoodsId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_evaluate_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberUsername != null" >
        member_username,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="images != null" >
        images,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="skuValue != null" >
        sku_value,
      </if>
      <if test="star != null" >
        star,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="isAnonymous != null" >
        is_anonymous,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="explain != null" >
        explain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberUsername != null" >
        #{memberUsername,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="skuValue != null" >
        #{skuValue,jdbcType=VARCHAR},
      </if>
      <if test="star != null" >
        #{star,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isAnonymous != null" >
        #{isAnonymous,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="explain != null" >
        #{explain,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliangit.shopos.entity.EvaluateGoods" >
    update t_evaluate_goods
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberUsername != null" >
        member_username = #{memberUsername,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="skuValue != null" >
        sku_value = #{skuValue,jdbcType=VARCHAR},
      </if>
      <if test="star != null" >
        star = #{star,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="isAnonymous != null" >
        is_anonymous = #{isAnonymous,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="explain != null" >
        explain = #{explain,jdbcType=VARCHAR},
      </if>
    </set>
    where evaluate_goods_id = #{evaluateGoodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliangit.shopos.entity.EvaluateGoods" >
    update t_evaluate_goods
    set member_id = #{memberId,jdbcType=INTEGER},
      member_username = #{memberUsername,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      images = #{images,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      sku_value = #{skuValue,jdbcType=VARCHAR},
      star = #{star,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      is_anonymous = #{isAnonymous,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_show = #{isShow,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      explain = #{explain,jdbcType=VARCHAR}
    where evaluate_goods_id = #{evaluateGoodsId,jdbcType=INTEGER}
  </update>
</mapper>