<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.ExpressMapper" >
  <resultMap id="BaseResultMap" type="com.wuliangit.shopos.entity.Express" >
    <id column="express_id" property="expressId" jdbcType="INTEGER" />
    <result column="express_name" property="expressName" jdbcType="VARCHAR" />
    <result column="express_code" property="expressCode" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    express_id, express_name, express_code, logo, phone, url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_express
    where express_id = #{expressId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_express
    where express_id = #{expressId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliangit.shopos.entity.Express" >
    <selectKey resultType="java.lang.Integer" keyProperty="expressId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_express (express_name, express_code, logo, 
      phone, url)
    values (#{expressName,jdbcType=VARCHAR}, #{expressCode,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliangit.shopos.entity.Express" >
    <selectKey resultType="java.lang.Integer" keyProperty="expressId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_express
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="expressName != null" >
        express_name,
      </if>
      <if test="expressCode != null" >
        express_code,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="expressName != null" >
        #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="expressCode != null" >
        #{expressCode,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliangit.shopos.entity.Express" >
    update t_express
    <set >
      <if test="expressName != null" >
        express_name = #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="expressCode != null" >
        express_code = #{expressCode,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where express_id = #{expressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliangit.shopos.entity.Express" >
    update t_express
    set express_name = #{expressName,jdbcType=VARCHAR},
      express_code = #{expressCode,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where express_id = #{expressId,jdbcType=INTEGER}
  </update>
</mapper>