<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.OrderCommonMapper" >
  <resultMap id="BaseResultMap" type="com.wuliangit.shopos.entity.OrderCommon" >
    <constructor >
      <idArg column="order_common_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="store_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="shipping_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="shipping_express_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="evaluation_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="evalseller_state" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="evalseller_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_message" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_pointscount" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="voucher_price" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="voucher_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="deliver_explain" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="area_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="city_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="area_info" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tel_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mob_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reciver_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reciver_info" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reciver_province_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="invoice_info" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="promotion_info" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    order_common_id, order_id, store_id, shipping_time, shipping_express_id, evaluation_time, 
    evalseller_state, evalseller_time, order_message, order_pointscount, voucher_price, 
    voucher_code, deliver_explain, area_id, city_id, area_info, address, tel_phone, mob_phone, 
    reciver_name, reciver_info, reciver_province_id, invoice_info, promotion_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order_common
    where order_common_id = #{orderCommonId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order_common
    where order_common_id = #{orderCommonId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliangit.shopos.entity.OrderCommon" >
    <selectKey resultType="java.lang.Integer" keyProperty="orderCommonId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_order_common (order_id, store_id, shipping_time, 
      shipping_express_id, evaluation_time, evalseller_state, 
      evalseller_time, order_message, order_pointscount, 
      voucher_price, voucher_code, deliver_explain, 
      area_id, city_id, area_info, 
      address, tel_phone, mob_phone, 
      reciver_name, reciver_info, reciver_province_id, 
      invoice_info, promotion_info)
    values (#{orderId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{shippingTime,jdbcType=INTEGER}, 
      #{shippingExpressId,jdbcType=INTEGER}, #{evaluationTime,jdbcType=TIMESTAMP}, #{evalsellerState,jdbcType=VARCHAR}, 
      #{evalsellerTime,jdbcType=INTEGER}, #{orderMessage,jdbcType=VARCHAR}, #{orderPointscount,jdbcType=INTEGER}, 
      #{voucherPrice,jdbcType=INTEGER}, #{voucherCode,jdbcType=VARCHAR}, #{deliverExplain,jdbcType=VARCHAR}, 
      #{areaId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{areaInfo,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{telPhone,jdbcType=VARCHAR}, #{mobPhone,jdbcType=VARCHAR}, 
      #{reciverName,jdbcType=VARCHAR}, #{reciverInfo,jdbcType=VARCHAR}, #{reciverProvinceId,jdbcType=INTEGER}, 
      #{invoiceInfo,jdbcType=VARCHAR}, #{promotionInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliangit.shopos.entity.OrderCommon" >
    <selectKey resultType="java.lang.Integer" keyProperty="orderCommonId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_order_common
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="shippingTime != null" >
        shipping_time,
      </if>
      <if test="shippingExpressId != null" >
        shipping_express_id,
      </if>
      <if test="evaluationTime != null" >
        evaluation_time,
      </if>
      <if test="evalsellerState != null" >
        evalseller_state,
      </if>
      <if test="evalsellerTime != null" >
        evalseller_time,
      </if>
      <if test="orderMessage != null" >
        order_message,
      </if>
      <if test="orderPointscount != null" >
        order_pointscount,
      </if>
      <if test="voucherPrice != null" >
        voucher_price,
      </if>
      <if test="voucherCode != null" >
        voucher_code,
      </if>
      <if test="deliverExplain != null" >
        deliver_explain,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="areaInfo != null" >
        area_info,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="telPhone != null" >
        tel_phone,
      </if>
      <if test="mobPhone != null" >
        mob_phone,
      </if>
      <if test="reciverName != null" >
        reciver_name,
      </if>
      <if test="reciverInfo != null" >
        reciver_info,
      </if>
      <if test="reciverProvinceId != null" >
        reciver_province_id,
      </if>
      <if test="invoiceInfo != null" >
        invoice_info,
      </if>
      <if test="promotionInfo != null" >
        promotion_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="shippingTime != null" >
        #{shippingTime,jdbcType=INTEGER},
      </if>
      <if test="shippingExpressId != null" >
        #{shippingExpressId,jdbcType=INTEGER},
      </if>
      <if test="evaluationTime != null" >
        #{evaluationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evalsellerState != null" >
        #{evalsellerState,jdbcType=VARCHAR},
      </if>
      <if test="evalsellerTime != null" >
        #{evalsellerTime,jdbcType=INTEGER},
      </if>
      <if test="orderMessage != null" >
        #{orderMessage,jdbcType=VARCHAR},
      </if>
      <if test="orderPointscount != null" >
        #{orderPointscount,jdbcType=INTEGER},
      </if>
      <if test="voucherPrice != null" >
        #{voucherPrice,jdbcType=INTEGER},
      </if>
      <if test="voucherCode != null" >
        #{voucherCode,jdbcType=VARCHAR},
      </if>
      <if test="deliverExplain != null" >
        #{deliverExplain,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaInfo != null" >
        #{areaInfo,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telPhone != null" >
        #{telPhone,jdbcType=VARCHAR},
      </if>
      <if test="mobPhone != null" >
        #{mobPhone,jdbcType=VARCHAR},
      </if>
      <if test="reciverName != null" >
        #{reciverName,jdbcType=VARCHAR},
      </if>
      <if test="reciverInfo != null" >
        #{reciverInfo,jdbcType=VARCHAR},
      </if>
      <if test="reciverProvinceId != null" >
        #{reciverProvinceId,jdbcType=INTEGER},
      </if>
      <if test="invoiceInfo != null" >
        #{invoiceInfo,jdbcType=VARCHAR},
      </if>
      <if test="promotionInfo != null" >
        #{promotionInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliangit.shopos.entity.OrderCommon" >
    update t_order_common
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="shippingTime != null" >
        shipping_time = #{shippingTime,jdbcType=INTEGER},
      </if>
      <if test="shippingExpressId != null" >
        shipping_express_id = #{shippingExpressId,jdbcType=INTEGER},
      </if>
      <if test="evaluationTime != null" >
        evaluation_time = #{evaluationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evalsellerState != null" >
        evalseller_state = #{evalsellerState,jdbcType=VARCHAR},
      </if>
      <if test="evalsellerTime != null" >
        evalseller_time = #{evalsellerTime,jdbcType=INTEGER},
      </if>
      <if test="orderMessage != null" >
        order_message = #{orderMessage,jdbcType=VARCHAR},
      </if>
      <if test="orderPointscount != null" >
        order_pointscount = #{orderPointscount,jdbcType=INTEGER},
      </if>
      <if test="voucherPrice != null" >
        voucher_price = #{voucherPrice,jdbcType=INTEGER},
      </if>
      <if test="voucherCode != null" >
        voucher_code = #{voucherCode,jdbcType=VARCHAR},
      </if>
      <if test="deliverExplain != null" >
        deliver_explain = #{deliverExplain,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaInfo != null" >
        area_info = #{areaInfo,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telPhone != null" >
        tel_phone = #{telPhone,jdbcType=VARCHAR},
      </if>
      <if test="mobPhone != null" >
        mob_phone = #{mobPhone,jdbcType=VARCHAR},
      </if>
      <if test="reciverName != null" >
        reciver_name = #{reciverName,jdbcType=VARCHAR},
      </if>
      <if test="reciverInfo != null" >
        reciver_info = #{reciverInfo,jdbcType=VARCHAR},
      </if>
      <if test="reciverProvinceId != null" >
        reciver_province_id = #{reciverProvinceId,jdbcType=INTEGER},
      </if>
      <if test="invoiceInfo != null" >
        invoice_info = #{invoiceInfo,jdbcType=VARCHAR},
      </if>
      <if test="promotionInfo != null" >
        promotion_info = #{promotionInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where order_common_id = #{orderCommonId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliangit.shopos.entity.OrderCommon" >
    update t_order_common
    set order_id = #{orderId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      shipping_time = #{shippingTime,jdbcType=INTEGER},
      shipping_express_id = #{shippingExpressId,jdbcType=INTEGER},
      evaluation_time = #{evaluationTime,jdbcType=TIMESTAMP},
      evalseller_state = #{evalsellerState,jdbcType=VARCHAR},
      evalseller_time = #{evalsellerTime,jdbcType=INTEGER},
      order_message = #{orderMessage,jdbcType=VARCHAR},
      order_pointscount = #{orderPointscount,jdbcType=INTEGER},
      voucher_price = #{voucherPrice,jdbcType=INTEGER},
      voucher_code = #{voucherCode,jdbcType=VARCHAR},
      deliver_explain = #{deliverExplain,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      area_info = #{areaInfo,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      tel_phone = #{telPhone,jdbcType=VARCHAR},
      mob_phone = #{mobPhone,jdbcType=VARCHAR},
      reciver_name = #{reciverName,jdbcType=VARCHAR},
      reciver_info = #{reciverInfo,jdbcType=VARCHAR},
      reciver_province_id = #{reciverProvinceId,jdbcType=INTEGER},
      invoice_info = #{invoiceInfo,jdbcType=VARCHAR},
      promotion_info = #{promotionInfo,jdbcType=VARCHAR}
    where order_common_id = #{orderCommonId,jdbcType=INTEGER}
  </update>
</mapper>