<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.wuliangit.shopos.entity.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="out_trade_no_merge" property="outTradeNoMerge" jdbcType="VARCHAR" />
    <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="member_email" property="memberEmail" jdbcType="VARCHAR" />
    <result column="payment_code" property="paymentCode" jdbcType="VARCHAR" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="finnshed_time" property="finnshedTime" jdbcType="TIMESTAMP" />
    <result column="goods_amount" property="goodsAmount" jdbcType="DECIMAL" />
    <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="pd_amount" property="pdAmount" jdbcType="DECIMAL" />
    <result column="carriage" property="carriage" jdbcType="DECIMAL" />
    <result column="member_evaluation_state" property="memberEvaluationState" jdbcType="VARCHAR" />
    <result column="seller_evaluation_state" property="sellerEvaluationState" jdbcType="VARCHAR" />
    <result column="order_state" property="orderState" jdbcType="VARCHAR" />
    <result column="refund_state" property="refundState" jdbcType="VARCHAR" />
    <result column="is_lock" property="isLock" jdbcType="BIT" />
    <result column="delete_state" property="deleteState" jdbcType="VARCHAR" />
    <result column="refund_amount" property="refundAmount" jdbcType="DECIMAL" />
    <result column="order_from" property="orderFrom" jdbcType="VARCHAR" />
    <result column="carriage_name" property="carriageName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="deliver_time" property="deliverTime" jdbcType="TIMESTAMP" />
    <result column="order_message" property="orderMessage" jdbcType="VARCHAR" />
    <result column="order_pointscount" property="orderPointscount" jdbcType="INTEGER" />
    <result column="voucher_price" property="voucherPrice" jdbcType="DECIMAL" />
    <result column="voucher_code" property="voucherCode" jdbcType="VARCHAR" />
    <result column="reciver_address" property="reciverAddress" jdbcType="VARCHAR" />
    <result column="reciver_phone" property="reciverPhone" jdbcType="VARCHAR" />
    <result column="reciver_name" property="reciverName" jdbcType="VARCHAR" />
    <result column="invoice_info" property="invoiceInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, out_trade_no, out_trade_no_merge, trade_no, store_id, store_name, member_id, 
    member_name, member_email, payment_code, payment_time, finnshed_time, goods_amount, 
    order_amount, pd_amount, carriage, member_evaluation_state, seller_evaluation_state, 
    order_state, refund_state, is_lock, delete_state, refund_amount, order_from, carriage_name, 
    create_time, deliver_time, order_message, order_pointscount, voucher_price, voucher_code, 
    reciver_address, reciver_phone, reciver_name, invoice_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliangit.shopos.entity.Order" >
    <selectKey resultType="java.lang.Integer" keyProperty="orderId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_order (out_trade_no, out_trade_no_merge, trade_no, 
      store_id, store_name, member_id, 
      member_name, member_email, payment_code, 
      payment_time, finnshed_time, goods_amount, 
      order_amount, pd_amount, carriage, 
      member_evaluation_state, seller_evaluation_state, 
      order_state, refund_state, is_lock, 
      delete_state, refund_amount, order_from, 
      carriage_name, create_time, deliver_time, 
      order_message, order_pointscount, voucher_price, 
      voucher_code, reciver_address, reciver_phone, 
      reciver_name, invoice_info)
    values (#{outTradeNo,jdbcType=VARCHAR}, #{outTradeNoMerge,jdbcType=VARCHAR}, #{tradeNo,jdbcType=VARCHAR}, 
      #{storeId,jdbcType=INTEGER}, #{storeName,jdbcType=VARCHAR}, #{memberId,jdbcType=INTEGER}, 
      #{memberName,jdbcType=VARCHAR}, #{memberEmail,jdbcType=VARCHAR}, #{paymentCode,jdbcType=VARCHAR}, 
      #{paymentTime,jdbcType=TIMESTAMP}, #{finnshedTime,jdbcType=TIMESTAMP}, #{goodsAmount,jdbcType=DECIMAL}, 
      #{orderAmount,jdbcType=DECIMAL}, #{pdAmount,jdbcType=DECIMAL}, #{carriage,jdbcType=DECIMAL}, 
      #{memberEvaluationState,jdbcType=VARCHAR}, #{sellerEvaluationState,jdbcType=VARCHAR}, 
      #{orderState,jdbcType=VARCHAR}, #{refundState,jdbcType=VARCHAR}, #{isLock,jdbcType=BIT}, 
      #{deleteState,jdbcType=VARCHAR}, #{refundAmount,jdbcType=DECIMAL}, #{orderFrom,jdbcType=VARCHAR}, 
      #{carriageName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{deliverTime,jdbcType=TIMESTAMP}, 
      #{orderMessage,jdbcType=VARCHAR}, #{orderPointscount,jdbcType=INTEGER}, #{voucherPrice,jdbcType=DECIMAL}, 
      #{voucherCode,jdbcType=VARCHAR}, #{reciverAddress,jdbcType=VARCHAR}, #{reciverPhone,jdbcType=VARCHAR}, 
      #{reciverName,jdbcType=VARCHAR}, #{invoiceInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliangit.shopos.entity.Order" >
    <selectKey resultType="java.lang.Integer" keyProperty="orderId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="outTradeNoMerge != null" >
        out_trade_no_merge,
      </if>
      <if test="tradeNo != null" >
        trade_no,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="memberEmail != null" >
        member_email,
      </if>
      <if test="paymentCode != null" >
        payment_code,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="finnshedTime != null" >
        finnshed_time,
      </if>
      <if test="goodsAmount != null" >
        goods_amount,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="pdAmount != null" >
        pd_amount,
      </if>
      <if test="carriage != null" >
        carriage,
      </if>
      <if test="memberEvaluationState != null" >
        member_evaluation_state,
      </if>
      <if test="sellerEvaluationState != null" >
        seller_evaluation_state,
      </if>
      <if test="orderState != null" >
        order_state,
      </if>
      <if test="refundState != null" >
        refund_state,
      </if>
      <if test="isLock != null" >
        is_lock,
      </if>
      <if test="deleteState != null" >
        delete_state,
      </if>
      <if test="refundAmount != null" >
        refund_amount,
      </if>
      <if test="orderFrom != null" >
        order_from,
      </if>
      <if test="carriageName != null" >
        carriage_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deliverTime != null" >
        deliver_time,
      </if>
      <if test="orderMessage != null" >
        order_message,
      </if>
      <if test="orderPointscount != null" >
        order_pointscount,
      </if>
      <if test="voucherPrice != null" >
        voucher_price,
      </if>
      <if test="voucherCode != null" >
        voucher_code,
      </if>
      <if test="reciverAddress != null" >
        reciver_address,
      </if>
      <if test="reciverPhone != null" >
        reciver_phone,
      </if>
      <if test="reciverName != null" >
        reciver_name,
      </if>
      <if test="invoiceInfo != null" >
        invoice_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNoMerge != null" >
        #{outTradeNoMerge,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberEmail != null" >
        #{memberEmail,jdbcType=VARCHAR},
      </if>
      <if test="paymentCode != null" >
        #{paymentCode,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finnshedTime != null" >
        #{finnshedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsAmount != null" >
        #{goodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="pdAmount != null" >
        #{pdAmount,jdbcType=DECIMAL},
      </if>
      <if test="carriage != null" >
        #{carriage,jdbcType=DECIMAL},
      </if>
      <if test="memberEvaluationState != null" >
        #{memberEvaluationState,jdbcType=VARCHAR},
      </if>
      <if test="sellerEvaluationState != null" >
        #{sellerEvaluationState,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=VARCHAR},
      </if>
      <if test="refundState != null" >
        #{refundState,jdbcType=VARCHAR},
      </if>
      <if test="isLock != null" >
        #{isLock,jdbcType=BIT},
      </if>
      <if test="deleteState != null" >
        #{deleteState,jdbcType=VARCHAR},
      </if>
      <if test="refundAmount != null" >
        #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderFrom != null" >
        #{orderFrom,jdbcType=VARCHAR},
      </if>
      <if test="carriageName != null" >
        #{carriageName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverTime != null" >
        #{deliverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderMessage != null" >
        #{orderMessage,jdbcType=VARCHAR},
      </if>
      <if test="orderPointscount != null" >
        #{orderPointscount,jdbcType=INTEGER},
      </if>
      <if test="voucherPrice != null" >
        #{voucherPrice,jdbcType=DECIMAL},
      </if>
      <if test="voucherCode != null" >
        #{voucherCode,jdbcType=VARCHAR},
      </if>
      <if test="reciverAddress != null" >
        #{reciverAddress,jdbcType=VARCHAR},
      </if>
      <if test="reciverPhone != null" >
        #{reciverPhone,jdbcType=VARCHAR},
      </if>
      <if test="reciverName != null" >
        #{reciverName,jdbcType=VARCHAR},
      </if>
      <if test="invoiceInfo != null" >
        #{invoiceInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliangit.shopos.entity.Order" >
    update t_order
    <set >
      <if test="outTradeNo != null" >
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNoMerge != null" >
        out_trade_no_merge = #{outTradeNoMerge,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberEmail != null" >
        member_email = #{memberEmail,jdbcType=VARCHAR},
      </if>
      <if test="paymentCode != null" >
        payment_code = #{paymentCode,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finnshedTime != null" >
        finnshed_time = #{finnshedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsAmount != null" >
        goods_amount = #{goodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="pdAmount != null" >
        pd_amount = #{pdAmount,jdbcType=DECIMAL},
      </if>
      <if test="carriage != null" >
        carriage = #{carriage,jdbcType=DECIMAL},
      </if>
      <if test="memberEvaluationState != null" >
        member_evaluation_state = #{memberEvaluationState,jdbcType=VARCHAR},
      </if>
      <if test="sellerEvaluationState != null" >
        seller_evaluation_state = #{sellerEvaluationState,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null" >
        order_state = #{orderState,jdbcType=VARCHAR},
      </if>
      <if test="refundState != null" >
        refund_state = #{refundState,jdbcType=VARCHAR},
      </if>
      <if test="isLock != null" >
        is_lock = #{isLock,jdbcType=BIT},
      </if>
      <if test="deleteState != null" >
        delete_state = #{deleteState,jdbcType=VARCHAR},
      </if>
      <if test="refundAmount != null" >
        refund_amount = #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderFrom != null" >
        order_from = #{orderFrom,jdbcType=VARCHAR},
      </if>
      <if test="carriageName != null" >
        carriage_name = #{carriageName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverTime != null" >
        deliver_time = #{deliverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderMessage != null" >
        order_message = #{orderMessage,jdbcType=VARCHAR},
      </if>
      <if test="orderPointscount != null" >
        order_pointscount = #{orderPointscount,jdbcType=INTEGER},
      </if>
      <if test="voucherPrice != null" >
        voucher_price = #{voucherPrice,jdbcType=DECIMAL},
      </if>
      <if test="voucherCode != null" >
        voucher_code = #{voucherCode,jdbcType=VARCHAR},
      </if>
      <if test="reciverAddress != null" >
        reciver_address = #{reciverAddress,jdbcType=VARCHAR},
      </if>
      <if test="reciverPhone != null" >
        reciver_phone = #{reciverPhone,jdbcType=VARCHAR},
      </if>
      <if test="reciverName != null" >
        reciver_name = #{reciverName,jdbcType=VARCHAR},
      </if>
      <if test="invoiceInfo != null" >
        invoice_info = #{invoiceInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliangit.shopos.entity.Order" >
    update t_order
    set out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      out_trade_no_merge = #{outTradeNoMerge,jdbcType=VARCHAR},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      store_name = #{storeName,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=INTEGER},
      member_name = #{memberName,jdbcType=VARCHAR},
      member_email = #{memberEmail,jdbcType=VARCHAR},
      payment_code = #{paymentCode,jdbcType=VARCHAR},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      finnshed_time = #{finnshedTime,jdbcType=TIMESTAMP},
      goods_amount = #{goodsAmount,jdbcType=DECIMAL},
      order_amount = #{orderAmount,jdbcType=DECIMAL},
      pd_amount = #{pdAmount,jdbcType=DECIMAL},
      carriage = #{carriage,jdbcType=DECIMAL},
      member_evaluation_state = #{memberEvaluationState,jdbcType=VARCHAR},
      seller_evaluation_state = #{sellerEvaluationState,jdbcType=VARCHAR},
      order_state = #{orderState,jdbcType=VARCHAR},
      refund_state = #{refundState,jdbcType=VARCHAR},
      is_lock = #{isLock,jdbcType=BIT},
      delete_state = #{deleteState,jdbcType=VARCHAR},
      refund_amount = #{refundAmount,jdbcType=DECIMAL},
      order_from = #{orderFrom,jdbcType=VARCHAR},
      carriage_name = #{carriageName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      deliver_time = #{deliverTime,jdbcType=TIMESTAMP},
      order_message = #{orderMessage,jdbcType=VARCHAR},
      order_pointscount = #{orderPointscount,jdbcType=INTEGER},
      voucher_price = #{voucherPrice,jdbcType=DECIMAL},
      voucher_code = #{voucherCode,jdbcType=VARCHAR},
      reciver_address = #{reciverAddress,jdbcType=VARCHAR},
      reciver_phone = #{reciverPhone,jdbcType=VARCHAR},
      reciver_name = #{reciverName,jdbcType=VARCHAR},
      invoice_info = #{invoiceInfo,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>