<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.wuliangit.shopos.entity.Role" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="office" property="office" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="role_type" property="roleType" jdbcType="VARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="BIT" />
    <result column="useable" property="useable" jdbcType="BIT" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    role_id, office, name, role, role_type, is_default, useable, create_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliangit.shopos.entity.Role" >
    <selectKey resultType="java.lang.Integer" keyProperty="roleId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_role (office, name, role, 
      role_type, is_default, useable, 
      create_by)
    values (#{office,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, 
      #{roleType,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT}, #{useable,jdbcType=BIT}, 
      #{createBy,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliangit.shopos.entity.Role" >
    <selectKey resultType="java.lang.Integer" keyProperty="roleId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="office != null" >
        office,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="roleType != null" >
        role_type,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="useable != null" >
        useable,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="office != null" >
        #{office,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="useable != null" >
        #{useable,jdbcType=BIT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliangit.shopos.entity.Role" >
    update t_role
    <set >
      <if test="office != null" >
        office = #{office,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        role_type = #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=BIT},
      </if>
      <if test="useable != null" >
        useable = #{useable,jdbcType=BIT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliangit.shopos.entity.Role" >
    update t_role
    set office = #{office,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=BIT},
      useable = #{useable,jdbcType=BIT},
      create_by = #{createBy,jdbcType=INTEGER}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>