<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliangit.shopos.dao.StoreAccountMapper" >
  <resultMap id="BaseResultMap" type="com.wuliangit.shopos.entity.StoreAccount" >
    <id column="store_account_id" property="storeAccountId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="available_balance" property="availableBalance" jdbcType="DECIMAL" />
    <result column="freeze_balance" property="freezeBalance" jdbcType="DECIMAL" />
    <result column="cash_password" property="cashPassword" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="alipay_account" property="alipayAccount" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    store_account_id, store_id, available_balance, freeze_balance, cash_password, salt, 
    alipay_account
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_store_account
    where store_account_id = #{storeAccountId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_store_account
    where store_account_id = #{storeAccountId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliangit.shopos.entity.StoreAccount" >
    <selectKey resultType="java.lang.Integer" keyProperty="storeAccountId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_store_account (store_id, available_balance, freeze_balance, 
      cash_password, salt, alipay_account
      )
    values (#{storeId,jdbcType=INTEGER}, #{availableBalance,jdbcType=DECIMAL}, #{freezeBalance,jdbcType=DECIMAL}, 
      #{cashPassword,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{alipayAccount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuliangit.shopos.entity.StoreAccount" >
    <selectKey resultType="java.lang.Integer" keyProperty="storeAccountId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_store_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="availableBalance != null" >
        available_balance,
      </if>
      <if test="freezeBalance != null" >
        freeze_balance,
      </if>
      <if test="cashPassword != null" >
        cash_password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="alipayAccount != null" >
        alipay_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="availableBalance != null" >
        #{availableBalance,jdbcType=DECIMAL},
      </if>
      <if test="freezeBalance != null" >
        #{freezeBalance,jdbcType=DECIMAL},
      </if>
      <if test="cashPassword != null" >
        #{cashPassword,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="alipayAccount != null" >
        #{alipayAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliangit.shopos.entity.StoreAccount" >
    update t_store_account
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="availableBalance != null" >
        available_balance = #{availableBalance,jdbcType=DECIMAL},
      </if>
      <if test="freezeBalance != null" >
        freeze_balance = #{freezeBalance,jdbcType=DECIMAL},
      </if>
      <if test="cashPassword != null" >
        cash_password = #{cashPassword,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="alipayAccount != null" >
        alipay_account = #{alipayAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where store_account_id = #{storeAccountId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliangit.shopos.entity.StoreAccount" >
    update t_store_account
    set store_id = #{storeId,jdbcType=INTEGER},
      available_balance = #{availableBalance,jdbcType=DECIMAL},
      freeze_balance = #{freezeBalance,jdbcType=DECIMAL},
      cash_password = #{cashPassword,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      alipay_account = #{alipayAccount,jdbcType=VARCHAR}
    where store_account_id = #{storeAccountId,jdbcType=INTEGER}
  </update>
</mapper>