#parse("/store/models/begin.vm")

<link href="/assets/admin/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

#parse("/store/models/header.vm")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>账户-账户流水</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 id="rank">账户流水</h5>
                    <a id="back" hidden="hidden"> <i class="fa fa-reply" style="color: #777777"></i></a>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="datatables" class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#parse("/store/models/footer.vm")

<script src="/assets/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/assets/admin/js/plugins/dataTables/datatables.min.js"></script>

<script>

    $("#账户流水").addClass("active");
    $("#账户").addClass("active");
    $('#side-menu').metisMenu();

    $(document).ready(function () {
        var t = $('#datatables').DataTable({
            "ajax": {
                'url': '/store/acount/accountHistoryList',
                "data": function(d) {
                    var param = {};
                    param.page = d.start/d.length + 1;
                    param.pageSize = d.length;
                    param.draw = d.draw;
                    param.orderColumn = d.columns[d.order[0]['column']]['data'];
                    param.orderType = d.order[0]['dir'];
                    param.searchKey = d.search["value"];
                    return param;
                },
            },
            "columns": [
                {"data":"type","width": "10%","title":"流水类型","render": function (data, type, row) {
                    if(data == "CASH") return "提现";
                    else if(data == "ORDER") return "订单收入";
                    else if(data == "REFUND") return "退款支出";
                }},
                {"data":"amount","width": "10%","title":"流水金额","render": function (data, type, row) {
                    if(row.type == "CASH") return "-"+data;
                    else if(row.type == "ORDER") return "+"+data;
                    else if(row.type == "REFUND") return "-"+data;
                }},
                {"data":"orderId","width": "10%","title":"相关订单","orderable": false, "render": function (data, type, row) {
                    if(row.type == "CASH") return "";
                    else
                    return [
                        '<div><a class="table-button-vertical btn btn-info btn-xs table-action view-order" href="javascript:void(0)">',
                        '<i class="fa fa-eye"></i>查看订单</a></div>'
                    ].join('');
                }},
                {"data":"createTime","width": "10%","title":"记录时间"},
            ],
            "searching": false,
            "ordering":true,
            "serverSide": true,
            "deferRender": true,
            "processing": true,
            "autoWidth": false,
            "responsive": true,
            "dom": '<"html5buttons"B>lTfgitp',
            "buttons": [
                {extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},
                {extend: 'print',
                    customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ],
            "language": {
                "url": "/assets/admin/js/plugins/dataTables/Chinese.json",
            }
        });


        var table = $('#datatables').DataTable();

        table.on( 'click', '.view-order', function () {
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();
            window.open("/store/order/detailPage?orderId="+data.orderId);
        });
    });
</script>

#parse("/store/models/end.vm")