#parse("/admin/models/begin.vm")
<link href="/assets/admin/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/assets/admin/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

#parse("/admin/models/header.vm")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>商品-商品列表</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 id="rank">商品管理 </h5>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="datatables" class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


#parse("/admin/models/footer.vm")

<script src="/assets/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/assets/admin/js/plugins/dataTables/datatables.min.js"></script>

<!-- Select2 -->
<script src="/assets/admin/js/plugins/select2/select2.full.min.js"></script>
<script src="/assets/admin/js/plugins/select2/zh-CN.js"></script>

<script>

    $("#商品列表").addClass("active");
    $("#商品").addClass("active");
    $('#side-menu').metisMenu();

    var nowState = '';

    $(document).ready(function () {
        var onsale_flag = "";
        var pass_flag = "";
        var recommend_flag;
        var t = $('#datatables').DataTable({
            "ajax": {
                'url': '/admin/goods/getAllGoods',
                "data": function(d) {
                    var param = {};
                    param.page = d.start/d.length + 1;
                    param.pageSize = d.length;
                    param.draw = d.draw;
                    param.orderColumn = d.columns[d.order[0]['column']]['data'];
                    param.orderType = d.order[0]['dir'];
                    param.searchKey = d.search["value"];
                    param.state = nowState;
                    return param;
                },
            },
            "columns": [
                {"data":"commend","width":"5%","title":"推荐状态","visible":false,"orderable":false,
                    "render": function (data, type, row) {
                        recommend_flag = data;
                    }
                },
                {"data":"goodsId","width":"5%","title":"编号"},
                {
                    "data":"name",
                    "width": "10%",
                    "title":"商品缩略图",
                    "orderable": false,
                    "render": function (data, type, row) {
                        var html = '<div class="pull-left"><img src="' + row.titleImg + '" style="width: 100px;height: 100px;"></div>';
                        return html;
                    }
                },
                {"data":"storeName","width": "10%","title":"名称/价格/邮费",
                    "render": function (data, type, row) {
                        var name = row.name
                        if(name.length>25){
                            name = name.substr(0,30)+"...";
                        }
                        return '<div style="padding-left: 10px;">' +
                                '<p><span>名称: </span><span class="text-success">'+name+'</span></p>' +
                                '<p>价格: '+row.price+'</p>' +
                                '<p>邮费: '+row.carriage+'</p>' +
                                '</div>';
                    }
                },
                {"data":"storeName","width": "10%","title":"商家名称"},
                {"data":"state","width": "10%","title":"商品状态",
                    "render": function (data, type, row) {
                        onsale_flag = data;
                        if(data == "DOWN")return "下架";
                        else if(data == "ONSELL")return "在售";
                        else if(data == "VIOLATION")return "禁售";
                    }
                },
                {"data":"verify","width": "10%","title":"审核状态",
                    "render": function (data, type, row) {
                        pass_flag = data;
                        if(data == "PASS")return "通过";
                        else if(data == "NOT_PASS")return "未通过";
                        else if(data == "CHECKING")return "待审核";
                    }
                },
                {"data":null,"width": "10%","title":"操作","render": function (data, type, row) {
                    if(pass_flag == "CHECKING"){
                        return [
                            '<div><a class="table-button-vertical btn btn-danger btn-xs table-action reject" href="javascript:void(0)">',
                            '拒绝通过 <i class="fa fa-trash-o"></i>',
                            '</a></div>',
                            '<div><a class="table-button-vertical btn btn-primary btn-xs table-action pass" href="javascript:void(0)">',
                            '审核通过 <i class="fa fa-edit"></i>',
                            '</a></div>',
                            '<div><a class="table-button-vertical btn btn-primary btn-xs table-action view" href="javascript:void(0)">',
                            '查看详情 <i class="fa fa-edit"></i>',
                            '</a></div>',
                        ].join('');
                    }else if(pass_flag == "PASS"){
                        if(onsale_flag == "ONSELL") {
                            recommend_flag = row.commend == false? "推荐至首页":"已推荐至首页";
                            return [
                                '<div><a class="table-button-vertical btn btn-danger btn-xs table-action drop" href="javascript:void(0)">',
                                '强制下架 <i class="fa fa-trash-o"></i>',
                                '</a></div>',
                                '<div><a class="table-button-vertical btn btn-primary btn-xs table-action view" href="javascript:void(0)">',
                                '查看详情 <i class="fa fa-edit"></i>',
                                '</a></div>',
                                '<div><a class="table-button-vertical btn btn-primary btn-xs table-action recommend" href="javascript:void(0)">',
                                 recommend_flag + '<i class="fa fa-share"></i>',
                                '</a></div>',
                            ].join('');
                        }else{
                            return [
                                '<div><a class="table-button-vertical btn btn-primary btn-xs table-action view" href="javascript:void(0)">',
                                '查看详情 <i class="fa fa-edit"></i>',
                                '</a></div>',
                            ].join('');
                        }

                    }else{
                        return [
                            '<div><a class="table-button-vertical btn btn-primary btn-xs table-action view" href="javascript:void(0)">',
                            '查看详情 <i class="fa fa-edit"></i>',
                            '</a></div>',
                        ].join('');
                    }

                }},
            ],
            "searching": true,
            "ordering":true,
            "serverSide": true,
            "deferRender": true,
            "processing": true,
            "autoWidth": false,
            "lengthMenu": [ 10, 15, 20 ],
            "responsive": true,
            "dom": '<"html5buttons"B>lTfgitp',
            "buttons": [
                {extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                    customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ],
            "language": {
                "url": "/assets/admin/js/plugins/dataTables/Chinese.json",
            }
        });
        var table = $('#datatables').DataTable();
         //拒绝通过
        table.on( 'click', '.reject', function () {
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();
            var goodsId = data.goodsId;
            swal({
                        title: "An input!",
                        text: "Write something interesting:",
                        type: "input",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        animation: "slide-from-top",
                        inputPlaceholder: "Write something"
                    },
                    function(inputValue){
                        if (inputValue === false) return false;

                        if (inputValue === "") {
                            swal.showInputError("You need to write something!");
                            return false
                        }
                        $.ajax({
                            url: "/admin/goods/adminUpdateGoodsApply",
                            data : {"goodsId": goodsId, "reason": inputValue, "type": 0},
                            success:function(result) {
                                if(result.code == 200){
                                    swal({
                                        title: "成功!",
                                        text: "拒绝商品申请成功,消息已经反馈给用户!",
                                        type: "success",
                                        showConfirmButton: false,
                                        timer: 2000,
                                    });
                                    setTimeout(function () {
                                        window.location.reload();
                                    }, 2000);
                                }
                            },
                            error:function(result) {
                                alert("系统出错")
                            }
                     });
                    });

        });

        //通过
        table.on( 'click', '.pass', function () {
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();
            var goodsId = data.goodsId;
            $.ajax({
                url: "/admin/goods/adminUpdateGoodsApply",
                data : {"goodsId": goodsId, "type": 1},
                success:function(result) {
                    if(result.code == 200){
                        swal({
                            title: "成功!",
                            text: "商品申请通过!",
                            type: "success",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                },
                error:function(result) {
                    alert("系统出错")
                }
            });
        });
        //查看商品详细信息
        table.on( 'click', '.view', function () {
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();
            var goodsId = data.goodsId;
            window.location.href = "/admin/goods/goodsDetailPage?goodsId=" + goodsId;
        })
        //推荐到首页
        table.on( 'click', '.recommend', function () {
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();
            var goodsId = data.goodsId;
            $.ajax({
                url: "/admin/goods/adminUpdateGoodsApply",
                data : {"goodsId": goodsId, "type": 2},
                success:function(result) {
                    if(result.code == 200){
                        swal({
                            title: "成功!",
                            text: "商品已推荐到首页!",
                            type: "success",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                },
                error:function(result) {
                    alert("系统出错")
                }
            });

        })



    });



</script>

#parse("/admin/models/end.vm")