#parse("/store/models/begin.vm")

<link href="/assets/admin/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

#parse("/store/models/header.vm")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>订单-退换货列表</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 id="rank">退换货列表 </h5>
                    <div class="ibox-tools">
                        <div id="btn-group" class="btn-group" role="group" aria-label="退款操作">
                            <button type="button" class="btn btn-primary" onclick="getRefundList(this,'')">全部</button>
                            <button type="button" class="btn btn-white" onclick="getRefundList(this,'REFUND_ALL')">退款退货</button>
                            <button type="button" class="btn btn-white" onclick="getRefundList(this,'CHANGE_GOODS')">换货</button>
                            <button type="button" class="btn btn-white" onclick="getRefundList(this,'END')">已完成</button>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="datatables" class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#parse("/store/models/footer.vm")

<script src="/assets/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/assets/admin/js/plugins/dataTables/datatables.min.js"></script>

<script>

    $("#退换货列表").addClass("active");
    $("#订单").addClass("active");
    $('#side-menu').metisMenu();

    var nowType = '';
    var nowState = '';

    $(document).ready(function () {
        var t = $('#datatables').DataTable({
            "ajax": {
                'url': '/store/refund/getSuccessRefundList',
                "data": function(d) {
                    var param = {};
                    param.page = d.start/d.length + 1;
                    param.pageSize = d.length;
                    param.draw = d.draw;
                    param.orderColumn = d.columns[d.order[0]['column']]['data'];
                    param.orderType = d.order[0]['dir'];
                    param.searchKey = d.search["value"];
                    param.refundType = nowType;
                    param.refundState = nowState;
                    return param;
                },
            },
            "columns": [
                {"data":"refundId","width": "6%","title":"退款号","orderable": false},
                {"data":"memberUsername","width": "7%","title":"买家会员名","orderable": false},
                {"data":"goodsName","width": "15%","title":"商品名","orderable": false,"render":function(data, type, row){
                    if(data.length>25){
                        return data.substr(0,35)+"...";
                    }
                    return data;
                }},
                {"data":"refundType","width": "8%","title":"申请类型","orderable": false,"render":function(data, type, row){
                    if(data == "REFUND_MOMEY")return "退款";
                    else if(data == "CHANGE_GOODS")return "换货";
                    else if(data == "REFUND_ALL")return "退款退货";
                    else if(data == "STORE_REFUND")return "店铺退款";
                }},
                {"data":"buyerMessage","width": "8%","title":"申请原因","orderable": false},
                {"data":"refundState","width": "8%","title":"状态",
                    "render":function(data, type, row)
                    {
                        if (data == 'CHECKING') return '待审核';
                        else if(data == 'CONSENT') return '同意退款';
                        else if(data == 'NOT_CONSENT') return '拒绝退款';
                        else if(data == 'DELIVE') return '买家已发货';
                        else if(data == 'END') return '已完成';
                    }
                },
                {"data":"refundAmount","width": "7%","title":"退款金额","orderable": false},
                {"data":"refundState","width": "20%","title":"操作","orderable": false,
                    "render":function(data, type, row)
                    {
                        var html = '<a class="table-button btn btn-default btn-xs table-action order-info" href="javascript:void(0)">'+
                        '<i class="fa fa-info-circle"></i>订单详情</a>'+
                        '<a class="table-button btn btn-info btn-xs table-action refund-info" href="javascript:void(0)">'+
                        '<i class="fa fa-info-circle"></i>退换详情</a>'
                        if(row.refundState == 'DELIVE'){
                            html += '<a class="table-button btn btn-danger btn-xs table-action refund-check" href="javascript:void(0)">'+
                                    '<i class="fa fa-check"></i>确认收货</a>';
                        }
                        return  html;
                    }
                }
            ],
            "searching": true,
            "ordering":true,
            "serverSide": true,
            "deferRender": true,
            "processing": true,
            "autoWidth": false,
            "lengthMenu": [ 10, 15, 20 ],
            "responsive": true,
            "dom": '<"html5buttons"B>lTfgitp',
            "buttons": [],
            "language": {
                "url": "/assets/admin/js/plugins/dataTables/Chinese.json",
            }
        });
        var table = $('#datatables').DataTable();

        table.on( 'click', '.refund-info', function () {
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();
            window.open("/store/refund/detailPage?refundId="+data.refundId);
        });
        table.on( 'click', '.order-info', function () {
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();
            window.open("/store/order/detailPage?orderId="+data.orderId);
        });
        table.on( 'click', '.refund-check', function () {
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();
            $.post("/store/refund/checkReceiveGoods",
                    {
                        refundId: data.refundId
                    },
                    function (data, status) {
                        if (data.code == 200) {
                            swal({
                                title: "成功!",
                                text: "收货成功并已退款",
                                type: "success",
                                showConfirmButton: false,
                                timer: 2500,
                            });
                            setTimeout(function () {
                                $('#datatables').DataTable().ajax.reload();
                            }, 2000);
                        }else{
                            swal({
                                title: "失败!",
                                text: "发货失败!",
                                type: "error",
                                showConfirmButton: false,
                                timer: 2000,
                            });
                        }

                    });
        });
    });

    function getRefundList(button,type) {
        //改变按钮颜色
        var buttons = $('#btn-group').children();
        buttons.each(function (index, element) {
            $(element).removeClass("btn-primary");
            $(element).addClass("btn-white");
        });
        $(button).removeClass("btn-white");
        $(button).addClass("btn-primary");

        nowType = type;

        if(type == 'END'){
            nowState = 'END';
            nowType = '';
        }

        $('#datatables').DataTable().ajax.reload();

    }

</script>

#parse("/store/models/end.vm")