<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="/admin/index" class="m-r-sm text-muted welcome-message">首页</a>
            </li>
            <li>
                <span class="m-r-sm text-muted welcome-message">欢迎管使用SHOPOS</span>
            </li>
            <li>
                <a href="/admin/logout" style="color: red">
                    <i class="fa fa-sign-out">注销</i>
                </a>
            </li>
        </ul>
    </nav>
</div>