<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        #if ($storeUser.logo)
                            <img alt="image" class="img-circle" src="$storeUser.logo" style="width: 100px;height: 100px"/>
                        #else
                            <img alt="image" class="img-circle" src="/assets/admin/img/profile_small.jpg" />
                        #end
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="/store/index">
                        <span class="clear">
                            <span class="block m-t-xs"> <strong class="font-bold">$!{storeUser.sellerNikename}</strong></span>
                            <span class="block m-t-xs"> <strong class="font-bold">$!{storeUser.name}</strong></span>
                            <span class="text-muted text-xs block">店铺管理员 <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">管理员信息</a></li>
                        <li class="divider"></li>
                        <li><a href="/store/logout">注销</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    OS+
                </div>
            </li>
            #foreach( $menu in $menus)
                <li id="$menu.name">
                    <a href="#"><i class="fa $menu.icon"></i> <span class="nav-label">$menu.name</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        #if ($menu.childMenus)
                            #foreach( $item in $menu.childMenus)
                                <li id="$item.name"><a href="$item.href">$item.name</a></li>
                            #end
                        #end
                    </ul>
                </li>
            #end
        </ul>

    </div>
</nav>