#parse("/admin/models/begin.vm")

<link href="/assets/admin/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
<link href="/assets/admin/css/plugins/select2/select2.min.css" rel="stylesheet">
#parse("/admin/models/header.vm")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>权限管理-添加管理员</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><font color="red">*</font>用户名:</label>
                            <div class="col-sm-7">
                                <input id="name" name="name" type="text" class="form-control" onblur="check(this.value)">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><font color="red">*</font>Email地址</label>
                            <div class="col-sm-7">
                                <input id="name" name="name" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><font color="red">*</font>旧密码</label>
                            <div class="col-sm-7">
                                <input id="initial" name="initial" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><font color="red">*</font>新密码</label>
                            <div class="col-sm-7">
                                <input id="initial" name="initial" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><font color="red">*</font>确认密码密码</label>
                            <div class="col-sm-7">
                                <input id="initial" name="initial" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><font color="red">*</font>角色选择</label>
                            <div class="col-sm-7">
                                <select id="parentId" name="parentId" class="parent_select form-control">
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-6">
                                <div class="btn btn-success" type="submit" id="submit">确定</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
#parse("/admin/models/footer.vm")

<!-- Select2 -->
<script src="/assets/admin/js/plugins/select2/select2.full.min.js"></script>
<script src="/assets/admin/js/plugins/select2/zh-CN.js"></script>
<script>

    $("#权限管理").addClass("active");
    $("#管理员列表").addClass("active");
    $('#side-menu').metisMenu();

    var rank = 1;

    $(document).ready(function () {
        //分类列表下拉框
        $(".parent_select").select2({
            minimumResultsForSearch: -1,
            ajax: {
                url: "/admin/goodsCategory/get/all",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    var results = [];
                    $.each(data.data.goodsCategories, function (i, v) {
                        var o = {};
                        o.id = v.goodsCategoryId;
                        o.name = v.name;
                        results.push(o);
                    })
                    return {
                        results: results
                    };
                },
                cache: true
            },
            formatSelection: function (item) {
                return item.name;
            },  // 选择结果中的显示
            formatResult: function (item) {
                return item.name;
            },  // 搜索列表中的显示
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 0,
            templateResult: function formatRepo(repo) {
                return repo.name
            },
            templateSelection: function formatRepo(repo) {
                return repo.name
            },
            language: "zh-CN",
            initSelection: function (element, callback) {
                var data = { id:0, name: "请选择分类" };
                callback(data);
            },
        });

    });
</script>

#parse("/admin/models/end.vm")