#parse("/admin/models/begin.vm")

<link href="/assets/admin/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

#parse("/admin/models/header.vm")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>推客-推客管理</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 id="rank">管理列表 </h5>
                    <a id="back" hidden="hidden"> <i class="fa fa-reply" style="color: #777777"></i></a>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="datatables" class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#parse("/admin/models/footer.vm")

<script src="/assets/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/assets/admin/js/plugins/dataTables/datatables.min.js"></script>

<script>

    $(document).ready(function () {
        var t = $('#datatables').DataTable({
            "ajax": {
                'url': '/admin/tuike/getTuikeList',
                "data": function(d) {
                    var param = {};
                    param.page = d.start/d.length + 1;
                    param.pageSize = d.length;
                    param.draw = d.draw;
                    param.orderColumn = d.columns[d.order[0]['column']]['data'];
                    param.orderType = d.order[0]['dir'];
                    param.searchKey = d.search["value"];
                    return param;
                },
            },
            "columns": [
                {"data":"tuikeId","width":"5%","title":"序号","orderable": false},
                {"data":"nickname","width": "10%","title":"会员名称","orderable": false},
                {"data":"createTime","width": "15%","title":"创建时间","orderable": true},
                {"data":"availableBalance","width": "10%","title":"可用余额","orderable": true},
                {"data":"freezeBalance","width": "10%","title":"冻结金额","orderable": true},
                {"data":"code","width": "10%","title":"推客码","orderable": false},
                {"data":"shareCount","width": "10%","title":"分享访问次数","orderable": true},
                {"data":"buyCount","width": "10%","title":"分享购买次数","orderable": true},
                {"data":"tuikeId","width": "20%","title":"操作","orderable": false,"render": function(data, type, row){
                    return [
                        '<a class="table-button btn btn-danger btn-xs table-action forbidden" href="javascript:void(0)" style="margin-left: 10px;">',
                        '禁用 <i class="fa fa-minus-circle"></i>',
                        '</a>'
                    ].join('');
                }},
            ],
            "searching": true,
            "ordering":true,
            "serverSide": true,
            "deferRender": true,
            "processing": true,
            "autoWidth": false,
            "lengthMenu": [ 10, 15, 20 ],
            "responsive": true,
            "dom": '<"html5buttons"B>lTfgitp',
            "buttons": [
                {extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                    customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ],
            "language": {
                "url": "/assets/admin/js/plugins/dataTables/Chinese.json",
            },
            "fnDrawCallback" : function(){
                this.api().column(0).nodes().each(function(cell, i) {
                    cell.innerHTML =  i + 1;
                });
            },
        });
        var table = $('#datatables').DataTable();

        table.on( 'click', '.forbidden', function () {
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();
            $.operation(data,"FORBIDDEN");
        });
    });
    $.operation = function(data,flag){
        $.ajax({
            type: "post",
            url: "/admin/tuike/forbiddenTuike",
            data: "tuikeId=" + data.tuikeId + "&state=" + flag,
            async: false,
            success: function (data) {
                if (data.code == 200) {
                    swal({
                        title: "成功!",
                        text: "禁用成功!",
                        type: "success",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                    setTimeout(function () {
                        $('#datatables').DataTable().ajax.reload();
                    }, 2000);
                }else if(data.code == 500){
                    swal({
                        title: "失败!",
                        text: "禁用失败!",
                        type: "error",
                        showConfirmButton: false,
                        timer: 2000,
                    });
                    setTimeout(function () {
                        $('#datatables').DataTable().ajax.reload();
                    }, 2000);
                }
            }
        });
    }
</script>

#parse("/admin/models/end.vm")