#parse("/admin/models/begin.vm")

<link href="/assets/admin/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

<style>
    .category-selete ul li {
        list-style-type: none;
        border-bottom: 1px solid gainsboro;
        width: 100%;
    }

    .category-selete ul li a {
        display: block;
        width: 100%;
        color: #5f5f5f;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .category-selete {
        height: 400px;
        overflow-y: scroll;
    }

</style>

#parse("/admin/models/header.vm")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>商品-商品类型</h2>
        <p>
            <a type="button" class="btn btn-w-m btn-primary" href="/admin/goodsCategory/addPage">添加一级商品类型</a>
        </p>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 id="rank">商品分类列表(1级) </h5>
                    <a id="back" hidden="hidden"> <i class="fa fa-reply" style="color: #777777"></i></a>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="datatables" class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">移动商品</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>一级类型</p>
                            <div class="ibox-content category-selete b-r-md">
                                <ul id="category1">
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p>二级类型</p>
                            <div class="ibox-content category-selete b-r-md">
                                <ul id="category2">
                                </ul>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="sub">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

#parse("/admin/models/footer.vm")

<script src="/assets/admin/js/plugins/dataTables/datatables.min.js"></script>

<script>

    $("#商品分类列表").addClass("active");
    $("#商品分类管理").addClass("active");
    $('#side-menu').metisMenu();

    var rank = 1;
    var upParentId = [];
    var parentId = 0;

    var param1 = 0;
    var param2 = 0;

    $(document).ready(function () {
        var t = $('#datatables').DataTable({
            "ajax": {
                'url': '/admin/goodsCategory/search',
                "data": function(d) {
                    var param = {};
                    param.page = d.start/d.length + 1;
                    param.pageSize = d.length;
                    param.draw = d.draw;
                    param.orderColumn = d.columns[d.order[0]['column']]['data'];
                    param.orderType = d.order[0]['dir'];
                    param.searchKey = d.search["value"];
                    param.parentId = parentId;
                    return param;
                },
            },
            "columns": [
                {"data":"name","width": "15%","title":"分类名称","orderable": false, "orderable": true},
                {"data":"parentId","width": "10%","title":"父id","visible": false},
                {"data":"sort","width": "10%","title":"排序","orderable": true},
                {"data":"keywords","width": "15%","title":"关键词","orderable": false},
                {"data":"description","width": "20%","title":"描述","orderable": false},
                {"data":"isShow","width": "10%","title":"是否显示","orderable": true,
                    "render": function (data, type, row) {
                       if(data == true){
                           return "是";
                       } else{
                           return "否"
                       }
                    }},
                {"data":"id","width": "30%","title":"操作","orderable": false,
                    "render": function (data, type, row) {
                        return [
                            '<a class="table-button btn btn-danger btn-xs table-action delete" href="javascript:void(0)">',
                            '删除 <i class="fa fa-trash-o"></i>',
                            '</a>',
                            '<a class="table-button btn btn-primary btn-xs table-action edit" href="javascript:void(0)">',
                            '编辑 <i class="fa fa-edit"></i>',
                            '</a>',
                            rank > 2?"":'<a class="table-button btn btn-primary btn-xs table-action getsub" href="javascript:void(0)">下级 <i class="fa fa-code-fork"></i></a>',
                            rank > 2?"":'<a class="table-button btn btn-primary btn-xs table-action addsub" href="javascript:void(0)">添加下级 <i class="fa fa-code-fork"></i></a>',
                            rank > 1?'<a class="table-button btn btn-primary btn-xs table-action move" href="javascript:void(0)">移动 <i class="glyphicon glyphicon-move"></i></a>':"",
                        ].join('');
                    }
                },
            ],
            "searching": true,
            "ordering":true,
            "serverSide": true,
            "deferRender": true,
            "processing": true,
            "autoWidth": false,
            "lengthMenu": [ 10, 15, 20 ],
            "responsive": true,
            "dom": '<"html5buttons"B>lTfgitp',
            "buttons": [
                {extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                    customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ],
            "language": {
                "url": "/assets/admin/js/plugins/dataTables/Chinese.json",
            }
        });
        var table = $('#datatables').DataTable();

        table.on( 'click', '.edit', function () {
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();
            window.location.href = "/admin/goodsCategory/editPage?goodsCategoryId="+data.goodsCategoryId;
        });

        table.on( 'click', '.getsub', function () {
            rank = rank +1;
            if (rank > 1){
                $('#back').show();
            }else{
                $('#back').hide();
            }
            $('#rank').html("商品分类列表("+rank+"级)")
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();

            parentId = data.goodsCategoryId;
            upParentId[rank] = data.parentId;
            table = $('#datatables').DataTable().ajax.reload();
        });

        table.on( 'click', '.addsub', function () {
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();
            window.location.href = "/admin/goodsCategory/addPage?parentId="+data.goodsCategoryId;
        });

        $("#back").on('click', function () {
            rank = rank - 1;
            if (rank > 1){
                $('#back').show();
            }else{
                $('#back').hide();
            }
            parentId = upParentId[rank+1];
            $('#rank').html("商品分类列表("+rank+"级)")
            table = $('#datatables').DataTable().ajax.reload();
        });

        table.on( 'click', '.move', function () {
            var categories = [];
            categories = getCategory(0);
            var html = "";
            categories.forEach(function (value, index, array) {
                html += '<li><a onclick="setCategory2(' + value.goodsCategoryId + ')">' + value.name + '<i id="icon1' + value.goodsCategoryId + '" class="gc-icon1 pull-right fa fa-check hidden"></i></a></li>';
            });
            $("#category1").html(html);
            $("#category2").html("");
            $('#myModal').modal('show');
        });

        $('#sub').click(function () {
            if(param2 == 0){
                paramet = param1
            }else{
                paramet = param2
            }
            $.ajax({
                type: "post",
                url: "/admin/goodsCategory/updateGrade",
                data: {
                    "parentId":paramet,
                    "goodsCategoryId":param2,
                },
                async: false,
                success: function (data) {
                    if (data.code == 200) {
                        $('#myModal').modal('hide');
                    }
                }
            });
        });

        table.on( 'click', '.delete', function () {
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();
            $.get("/admin/goodsCategory/delete",
                    {
                        goodsCategoryId:data.goodsCategoryId,
                    },
                    function (data, status) {
                        if (data.code == 200) {
                            swal({
                                title: "成功!",
                                text: "商品分类删除成功!",
                                type: "success",
                                showConfirmButton: false,
                                timer: 2000,
                            });
                            setTimeout(function () {
                                table = $('#datatables').DataTable().ajax.reload();
                            }, 2000);
                        }
                    });
        });

    });

    function getCategory(parentId) {
        var categories = [];
        $.ajax({
            type: "post",
            url: "/admin/goodsCategory/get/grade",
            data: "parentId=" + parentId,
            async: false,
            success: function (data) {
                if (data.code == 200) {
                    categories = data.data.goodsCategories;
                }
            }
        });
        return categories;
    }

    function setCategory2(parentId) {
        param2 = 0;
        $(".gc-icon1").addClass("hidden");
        $("#icon1" + parentId).removeClass("hidden");
        $("#icon1" + parentId).addClass("show");

        category1 = parentId;
        param1 = parentId;
        category2 = "";
        var categories = [];
        categories = getCategory(parentId);

        var html = "";
        categories.forEach(function (value, index, array) {
            html += '<li><a onclick="setCategory3(' + value.goodsCategoryId + ')">' + value.name + '<i id="icon2' + value.goodsCategoryId + '" class="gc-icon2 pull-right fa fa-check hidden"></i></a></li>';
        });
        $("#category2").html(html);
    }

    function setCategory3(parentId) {

        category2 = parentId;
        param2 = parentId;

    }
</script>

#parse("/admin/models/end.vm")