#parse("/admin/models/begin.vm")

<link href="/assets/admin/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

#parse("/admin/models/header.vm")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>商品-商品类型</h2>
        <p>
            <a type="button" class="btn btn-w-m btn-primary" href="/admin/goodsCategory/addPage">添加商品类型</a>
        </p>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 id="rank">商品分类列表(1级) </h5>
                    <a id="back" hidden="hidden"> <i class="fa fa-reply" style="color: #777777"></i></a>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="datatables" class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#parse("/admin/models/footer.vm")

<script src="/assets/admin/js/plugins/dataTables/datatables.min.js"></script>

<script>

    var rank = 1;
    var upParentId = [];
    var parentId = 0;

    $(document).ready(function () {
        var t = $('#datatables').DataTable({
            "ajax": {
                'url': '/admin/goodsCategory/search',
                "data": function(d) {
                    var param = {};
                    param.page = d.start/d.length + 1;
                    param.pageSize = d.length;
                    param.draw = d.draw;
                    param.orderColumn = d.columns[d.order[0]['column']]['data'];
                    param.orderType = d.order[0]['dir'];
                    param.searchKey = d.search["value"];
                    param.parentId = parentId;
                    return param;
                },
            },
            "columns": [
                {"data":"goodsCategoryId","width":"7%","title":"序号","visible": false},
                {"data":"name","width": "20%","title":"分类","orderable": false},
                {"data":"parentId","width": "10%","title":"父id","visible": false},
                {"data":"sort","width": "10%","title":"排序","orderable": true},
                {"data":"keywords","width": "20%","title":"关键词","orderable": false},
                {"data":"description","width": "20%","title":"描述","orderable": false},
                {"data":"isShow","width": "10%","title":"是否显示","orderable": true},
                {"data":"id","width": "20%","title":"操作","orderable": false},
            ],
            "columnDefs" : [{
                "targets": 7,
                "data": "goodsCategoryId",
                "render": function (data, type, row) {
                    return [
                        '<a class="btn btn-danger btn-xs table-action view" href="javascript:void(0)">',
                        '删除 <i class="fa fa-trash-o"></i>',
                        '</a>',
                        '<a class="table-button btn btn-primary btn-xs table-action edit" href="javascript:void(0)">',
                        '编辑 <i class="fa fa-edit"></i>',
                        '</a>',
                        '<a class="table-button btn btn-primary btn-xs table-action getsub" href="javascript:void(0)">',
                        '下级 <i class="fa fa-code-fork"></i>',
                        '</a>'
                    ].join('');
                }
            } ],
            "searching": true,
            "ordering":true,
            "serverSide": true,
            "deferRender": true,
            "processing": true,
            "autoWidth": false,
            "lengthMenu": [ 10, 15, 20 ],
            "responsive": true,
            "dom": '<"html5buttons"B>lTfgitp',
            "buttons": [
                {extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                    customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ],
            "language": {
                "url": "/assets/admin/js/plugins/dataTables/Chinese.json",
            },
            "fnDrawCallback" : function(){
                this.api().column(0).nodes().each(function(cell, i) {
                    cell.innerHTML =  i + 1;
                });
            },
        });
        var table = $('#datatables').DataTable();

        table.on( 'click', '.edit', function () {
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();
            window.location.href = "/admin/goodsCategory/editPage?goodsCategoryId="+data.goodsCategoryId;
        });

        table.on( 'click', '.getsub', function () {
            rank = rank +1;
            if (rank > 1){
                $('#back').show();
            }else{
                $('#back').hide();
            }
            $('#rank').html("商品分类列表("+rank+"级)")
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();

            parentId = data.goodsCategoryId;
            upParentId[rank] = data.parentId;
            table = $('#datatables').DataTable().ajax.reload();
        });

        $("#back").on('click', function () {
            rank = rank - 1;
            if (rank > 1){
                $('#back').show();
            }else{
                $('#back').hide();
            }
            parentId = upParentId[rank];
            $('#rank').html("商品分类列表("+rank+"级)")
            table = $('#datatables').DataTable().ajax.reload();
        });
    });
</script>

#parse("/admin/models/end.vm")