#parse("/store/models/begin.vm")
<link href="/assets/admin/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<link href="/assets/admin/css/plugins/select2/select2.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/admin/css/plugins/wangeditor/wangEditor.min.css">

<link href="/assets/admin/css/plugins/sweetalert/sweetalert.css" media="all" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" type="text/css" href="/assets/admin/css/plugins/webuploader/webuploader.css">
<link href="/assets/admin/css/plugins/fileinput/fileinput.min.css" media="all" rel="stylesheet" type="text/css"/>

<link href="/assets/admin/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">

<link href="/assets/admin/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">

<style>
    .category-selete ul li {
        list-style-type: none;
        border-bottom: 1px solid gainsboro;
        width: 100%;
    }

    .category-selete ul li a {
        display: block;
        width: 100%;
        color: #5f5f5f;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .category-selete {
        height: 400px;
        overflow-y: scroll;
    }

</style>

#parse("/store/models/header.vm")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>缴纳保证金</h2>
    </div>
</div>
<div class="row wrapper border-bottom white-bg page-heading" style="padding-top: 20px;">
    <div class="col-lg-10">
        <p style="font-size: 20px"><font color="red">说明：</font>只有缴纳保证金才允许发布商品。</p>
    </div>
</div>
<div style="margin-top:40px">
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">缴纳金额</label>
            <div class="col-sm-7">
                <input id="name" name="name" type="text" class="form-control" disabled value="500"/>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group" style="margin-top: 60px">
            <div class="col-sm-4 col-sm-offset-3">
                <input class="btn btn-primary" type="submit" id="submit" value="确认提交">
            </div>
        </div>
    <div id="qrcode">

    </div>

</div>

#parse("/store/models/footer.vm")

<!-- DataTime picker -->
<script src="/assets/admin/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/admin/js/plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="/assets/admin/js/plugins/sweetalert/sweetalert.min.js"></script>

<!-- Tags Input -->
<script src="/assets/admin/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>


<script src="https://a.alipayobjects.com/g/h5-lib/alipayjsapi/3.0.3/alipayjsapi.inc.min.js"></script>



<script>
    $("#缴纳保证金").addClass("active");
    $("#设置").addClass("active");
    $("#side-menu").metisMenu();
    $("#submit").click(function () {
         $.ajax({
             url: "/store/guarantee/pay/generateOrder",
             type: "post",
             success:function (result) {

                 if(result.code == 200){
                     $.ajax({
                         url: "/store/guarantee/pay/prepare",
                         type: "post",
                         data: {"orderId": result.data.orderId},
                         success:function (result) {
                             $("#qrcode").html(result.data.payInfo);
                         },
                         error:function(result){
                             alert("系统出错")
                         }
                     })
                 }
             },
             error:function(result){
                 alert("系统出错")
             }
         })
    })


</script>



#parse("/store/models/end.vm")